**/node_modules
**/.next
**/.next-saas
.ipynb_checkpoints
.pytest_cache
.venv
*.generated.*
!services/langevals/ts-integration/evaluators.generated.ts
.DS_Store
.github
.env
**/.env
**/.venv

langwatch_nlp/.venv
langwatch_nlp/.pytest_cache
langwatch_nlp/.ipynb_checkpoints

dist
sdks/python/dist
sdks/python/.ipynb_checkpoints
sdks/python/.pytest_cache
sdks/python/.chainlit
sdks/python/.files
sdks/python/examples