**/node_modules
**/.next
**/.next-saas
.ipynb_checkpoints
.pytest_cache
.venv
*.generated.*
!langevals/ts-integration/evaluators.generated.ts
.DS_Store
.github
.env
**/.env
**/.venv

langwatch_nlp/.venv
langwatch_nlp/.pytest_cache
langwatch_nlp/.ipynb_checkpoints

dist
python-sdk/dist
python-sdk/.ipynb_checkpoints
python-sdk/.pytest_cache
python-sdk/.chainlit
python-sdk/.files
python-sdk/examples