**/package-lock.json                    linguist-generated=true merge=ours
**/uv.lock                              linguist-generated=true merge=ours
**/go.sum                               linguist-generated=true merge=ours
sdks/python/src/langwatch/generated/**/* linguist-generated=true
platform/app/src/app/api/openapiLangWatch.json linguist-generated=true
sdks/typescript/src/internal/generated/openapi/api-client.ts linguist-generated=true merge=ours
