{
  "openapi": "3.1.0",
  "info": {
    "title": "LangWatch API",
    "version": "1.0.0",
    "description": "LangWatch openapi spec"
  },
  "servers": [
    {
      "url": "https://app.langwatch.ai"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/api/annotations": {
      "get": {
        "description": "Returns all annotations for project",
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/annotations/trace/{id}": {
      "get": {
        "description": "Returns all annotations for single trace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create an annotation for a single trace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the trace to annotate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Annotation data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "isThumbsUp": {
                    "type": "boolean"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/annotations/{id}": {
      "get": {
        "description": "Returns a single annotation based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of annotation to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single annotation based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of annotation to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates a single annotation based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of annotation to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "isThumbsUp": {
                    "type": "boolean"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/{id}": {
      "get": {
        "description": "Returns single trace details based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to share",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trace details with spans and evaluations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trace_id": {
                      "type": "string",
                      "example": "trace_BKZL_X0TKSD4oa1aBJTc_"
                    },
                    "project_id": {
                      "type": "string",
                      "example": "KAXYxPR8MUgTcP8CF193y"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "sdk_version": {
                          "type": "string",
                          "example": "0.1.11"
                        },
                        "sdk_language": {
                          "type": "string",
                          "example": "python"
                        }
                      }
                    },
                    "timestamps": {
                      "type": "object",
                      "properties": {
                        "started_at": {
                          "type": "integer",
                          "example": 1721382486868
                        },
                        "inserted_at": {
                          "type": "integer",
                          "example": 1721382492894
                        },
                        "updated_at": {
                          "type": "integer",
                          "example": 1721382492894
                        }
                      }
                    },
                    "input": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "example": "hi"
                        }
                      }
                    },
                    "output": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "example": "Hey there! 👋😊"
                        }
                      }
                    },
                    "metrics": {
                      "type": "object",
                      "properties": {
                        "first_token_ms": {
                          "type": "integer",
                          "example": 1449
                        },
                        "total_time_ms": {
                          "type": "integer",
                          "example": 1543
                        },
                        "prompt_tokens": {
                          "type": "integer",
                          "example": 20
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "example": 7
                        },
                        "tokens_estimated": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "stacktrace": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "message": {
                          "type": "string"
                        },
                        "has_error": {
                          "type": "boolean"
                        }
                      },
                      "example": null
                    },
                    "indexing_md5s": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "cccd21e0b70c706034dfd9f7772816a3"
                      ]
                    },
                    "spans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "trace_id": {
                            "type": "string",
                            "example": "trace_BKZL_X0TKSD4oa1aBJTc_"
                          },
                          "span_id": {
                            "type": "string",
                            "example": "span_h1xUkcUJilhudDrLeQbR_"
                          },
                          "timestamps": {
                            "type": "object",
                            "properties": {
                              "finished_at": {
                                "type": "integer",
                                "example": 1721382488392
                              },
                              "updated_at": {
                                "type": "integer",
                                "example": 1721382492027
                              },
                              "started_at": {
                                "type": "integer",
                                "example": 1721382486895
                              },
                              "first_token_at": {
                                "type": "integer",
                                "example": 1721382488317
                              },
                              "inserted_at": {
                                "type": "integer",
                                "example": 1721382492027
                              }
                            }
                          },
                          "type": {
                            "type": "string",
                            "example": "llm"
                          },
                          "error": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "stacktrace": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "message": {
                                "type": "string"
                              },
                              "has_error": {
                                "type": "boolean"
                              }
                            },
                            "example": null
                          },
                          "params": {
                            "type": "object",
                            "properties": {
                              "stream": {
                                "type": "boolean",
                                "example": true
                              },
                              "temperature": {
                                "type": "number",
                                "example": 1
                              }
                            }
                          },
                          "project_id": {
                            "type": "string",
                            "example": "KAXYxPR8MUgTcP8CF193y"
                          },
                          "parent_id": {
                            "type": "string",
                            "nullable": true,
                            "example": "span_ijZNjUMTz3ys0Z0YKwF_T"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "model": {
                            "type": "string",
                            "example": "openai/gpt-4o"
                          },
                          "metrics": {
                            "type": "object",
                            "properties": {
                              "tokens_estimated": {
                                "type": "boolean",
                                "example": true
                              },
                              "completion_tokens": {
                                "type": "integer",
                                "example": 7
                              },
                              "prompt_tokens": {
                                "type": "integer",
                                "example": 20
                              }
                            }
                          },
                          "input": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "chat_messages"
                              },
                              "value": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "role": {
                                      "type": "string",
                                      "example": "system"
                                    },
                                    "content": {
                                      "type": "string",
                                      "example": "You are a helpful assistant that only reply in short tweet-like responses, using lots of emojis."
                                    }
                                  }
                                },
                                "example": [
                                  {
                                    "role": "system",
                                    "content": "You are a helpful assistant that only reply in short tweet-like responses, using lots of emojis."
                                  },
                                  {
                                    "role": "user",
                                    "content": "hi"
                                  }
                                ]
                              }
                            }
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "chat_messages"
                              },
                              "value": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "role": {
                                      "type": "string",
                                      "example": "assistant"
                                    },
                                    "content": {
                                      "type": "string",
                                      "example": "Hey there! 👋😊"
                                    }
                                  }
                                },
                                "example": [
                                  {
                                    "role": "assistant",
                                    "content": "Hey there! 👋😊"
                                  }
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    "evaluations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "evaluation_id": {
                            "type": "string",
                            "example": "check_VCagriZHNWICSOM09dXjM"
                          },
                          "name": {
                            "type": "string",
                            "example": "Ragas Answer Relevancy"
                          },
                          "type": {
                            "type": "string",
                            "example": "ragas/answer_relevancy"
                          },
                          "trace_id": {
                            "type": "string",
                            "example": "trace_BKZL_X0TKSD4oa1aBJTc_"
                          },
                          "project_id": {
                            "type": "string",
                            "example": "KAXYxPR8MUgTcP8CF193y"
                          },
                          "status": {
                            "type": "string",
                            "example": "error"
                          },
                          "timestamps": {
                            "type": "object",
                            "properties": {
                              "updated_at": {
                                "type": "integer",
                                "example": 1721383657788
                              },
                              "inserted_at": {
                                "type": "integer",
                                "example": 1721382493358
                              }
                            }
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "stacktrace": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "TypeError: fetch failed"
                                ]
                              },
                              "message": {
                                "type": "string",
                                "example": "fetch failed"
                              },
                              "has_error": {
                                "type": "boolean",
                                "example": true
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/search": {
      "post": {
        "summary": "Search traces",
        "description": "Search for traces based on given criteria",
        "tags": [
          "Traces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/{id}/share": {
      "post": {
        "description": "Returns a public path for a trace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to share",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public path created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/{id}/unshare": {
      "post": {
        "description": "Deletes a public path for a trace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to unshare",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public path deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/prompts/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "createdAt"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getApiPromptsTags",
        "parameters": [],
        "description": "List all prompt tag definitions for the organization"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Tag created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "postApiPromptsTags",
        "parameters": [],
        "description": "Create a custom prompt tag definition for the organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        }
      }
    },
    "/api/prompts/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "handle": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "scope": {
                      "type": "string",
                      "enum": [
                        "ORGANIZATION",
                        "PROJECT"
                      ]
                    },
                    "name": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "versionId": {
                      "type": "string"
                    },
                    "authorId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "version": {
                      "type": "number"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "commitMessage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "prompt": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": [
                              "user",
                              "assistant",
                              "system"
                            ]
                          },
                          "content": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "role",
                          "content"
                        ]
                      },
                      "default": []
                    },
                    "inputs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "minLength": 1
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "str",
                              "float",
                              "bool",
                              "image",
                              "list",
                              "list[str]",
                              "list[float]",
                              "list[int]",
                              "list[bool]",
                              "dict",
                              "chat_messages"
                            ]
                          }
                        },
                        "required": [
                          "identifier",
                          "type"
                        ]
                      },
                      "default": []
                    },
                    "outputs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "minLength": 1
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "str",
                              "float",
                              "bool",
                              "json_schema"
                            ]
                          },
                          "json_schema": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "required": [
                              "type"
                            ],
                            "additionalProperties": true
                          }
                        },
                        "required": [
                          "identifier",
                          "type"
                        ]
                      },
                      "minItems": 1
                    },
                    "model": {
                      "type": "string",
                      "minLength": 1
                    },
                    "temperature": {
                      "type": "number"
                    },
                    "maxTokens": {
                      "type": "number"
                    },
                    "demonstrations": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "inline": {
                          "type": "object",
                          "properties": {
                            "records": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {}
                              }
                            },
                            "columnTypes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "const": "string"
                                      },
                                      {
                                        "type": "string",
                                        "const": "boolean"
                                      },
                                      {
                                        "type": "string",
                                        "const": "number"
                                      },
                                      {
                                        "type": "string",
                                        "const": "date"
                                      },
                                      {
                                        "type": "string",
                                        "const": "list"
                                      },
                                      {
                                        "type": "string",
                                        "const": "json"
                                      },
                                      {
                                        "type": "string",
                                        "const": "spans"
                                      },
                                      {
                                        "type": "string",
                                        "const": "rag_contexts"
                                      },
                                      {
                                        "type": "string",
                                        "const": "chat_messages"
                                      },
                                      {
                                        "type": "string",
                                        "const": "annotations"
                                      },
                                      {
                                        "type": "string",
                                        "const": "evaluations"
                                      },
                                      {
                                        "type": "string",
                                        "const": "image"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "name",
                                  "type"
                                ]
                              }
                            }
                          },
                          "required": [
                            "records",
                            "columnTypes"
                          ]
                        }
                      }
                    },
                    "promptingTechnique": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "few_shot",
                            "in_context",
                            "chain_of_thought"
                          ]
                        },
                        "demonstrations": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "inline": {
                              "type": "object",
                              "properties": {
                                "records": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "array",
                                    "items": {}
                                  }
                                },
                                "columnTypes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "anyOf": [
                                          {
                                            "type": "string",
                                            "const": "string"
                                          },
                                          {
                                            "type": "string",
                                            "const": "boolean"
                                          },
                                          {
                                            "type": "string",
                                            "const": "number"
                                          },
                                          {
                                            "type": "string",
                                            "const": "date"
                                          },
                                          {
                                            "type": "string",
                                            "const": "list"
                                          },
                                          {
                                            "type": "string",
                                            "const": "json"
                                          },
                                          {
                                            "type": "string",
                                            "const": "spans"
                                          },
                                          {
                                            "type": "string",
                                            "const": "rag_contexts"
                                          },
                                          {
                                            "type": "string",
                                            "const": "chat_messages"
                                          },
                                          {
                                            "type": "string",
                                            "const": "annotations"
                                          },
                                          {
                                            "type": "string",
                                            "const": "evaluations"
                                          },
                                          {
                                            "type": "string",
                                            "const": "image"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "type"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "records",
                                "columnTypes"
                              ]
                            }
                          }
                        }
                      },
                      "required": [
                        "type"
                      ]
                    },
                    "responseFormat": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "json_schema"
                          ]
                        },
                        "json_schema": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "schema": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "required": [
                            "name",
                            "schema"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "json_schema"
                      ]
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "versionId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "versionId"
                        ]
                      },
                      "default": []
                    }
                  },
                  "required": [
                    "id",
                    "handle",
                    "scope",
                    "name",
                    "updatedAt",
                    "projectId",
                    "organizationId",
                    "versionId",
                    "version",
                    "createdAt",
                    "prompt",
                    "messages",
                    "inputs",
                    "outputs",
                    "model",
                    "tags"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getApiPromptsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Prompt slug or shorthand. Supports three formats: (1) bare slug — \"pizza-prompt\" returns the latest version; (2) slug:tag — \"pizza-prompt:production\" returns the version pointed to by that tag; (3) slug:version — \"pizza-prompt:2\" returns that specific version number. \"slug:latest\" is equivalent to the bare slug. Cannot be combined with the tag or version query parameters.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Specific version number to retrieve. Cannot be used when the id path already contains a shorthand suffix.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Fetch the version pointed to by this tag (e.g., \"production\", \"staging\"). Cannot be used when the id path already contains a shorthand suffix.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Get a specific prompt by slug, with optional shorthand syntax for tags and versions. Pass a bare slug like \"pizza-prompt\" to get the latest version, \"pizza-prompt:production\" to resolve a tagged version, or \"pizza-prompt:2\" to fetch version 2. Alternatively, use the tag or version query parameters with a bare slug."
      },
      "put": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "handle": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "scope": {
                      "type": "string",
                      "enum": [
                        "ORGANIZATION",
                        "PROJECT"
                      ]
                    },
                    "name": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "versionId": {
                      "type": "string"
                    },
                    "authorId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "version": {
                      "type": "number"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "commitMessage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "prompt": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": [
                              "user",
                              "assistant",
                              "system"
                            ]
                          },
                          "content": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "role",
                          "content"
                        ]
                      },
                      "default": []
                    },
                    "inputs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "minLength": 1
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "str",
                              "float",
                              "bool",
                              "image",
                              "list",
                              "list[str]",
                              "list[float]",
                              "list[int]",
                              "list[bool]",
                              "dict",
                              "chat_messages"
                            ]
                          }
                        },
                        "required": [
                          "identifier",
                          "type"
                        ]
                      },
                      "default": []
                    },
                    "outputs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "minLength": 1
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "str",
                              "float",
                              "bool",
                              "json_schema"
                            ]
                          },
                          "json_schema": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "required": [
                              "type"
                            ],
                            "additionalProperties": true
                          }
                        },
                        "required": [
                          "identifier",
                          "type"
                        ]
                      },
                      "minItems": 1
                    },
                    "model": {
                      "type": "string",
                      "minLength": 1
                    },
                    "temperature": {
                      "type": "number"
                    },
                    "maxTokens": {
                      "type": "number"
                    },
                    "demonstrations": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "inline": {
                          "type": "object",
                          "properties": {
                            "records": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {}
                              }
                            },
                            "columnTypes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "const": "string"
                                      },
                                      {
                                        "type": "string",
                                        "const": "boolean"
                                      },
                                      {
                                        "type": "string",
                                        "const": "number"
                                      },
                                      {
                                        "type": "string",
                                        "const": "date"
                                      },
                                      {
                                        "type": "string",
                                        "const": "list"
                                      },
                                      {
                                        "type": "string",
                                        "const": "json"
                                      },
                                      {
                                        "type": "string",
                                        "const": "spans"
                                      },
                                      {
                                        "type": "string",
                                        "const": "rag_contexts"
                                      },
                                      {
                                        "type": "string",
                                        "const": "chat_messages"
                                      },
                                      {
                                        "type": "string",
                                        "const": "annotations"
                                      },
                                      {
                                        "type": "string",
                                        "const": "evaluations"
                                      },
                                      {
                                        "type": "string",
                                        "const": "image"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "name",
                                  "type"
                                ]
                              }
                            }
                          },
                          "required": [
                            "records",
                            "columnTypes"
                          ]
                        }
                      }
                    },
                    "promptingTechnique": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "few_shot",
                            "in_context",
                            "chain_of_thought"
                          ]
                        },
                        "demonstrations": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "inline": {
                              "type": "object",
                              "properties": {
                                "records": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "array",
                                    "items": {}
                                  }
                                },
                                "columnTypes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "anyOf": [
                                          {
                                            "type": "string",
                                            "const": "string"
                                          },
                                          {
                                            "type": "string",
                                            "const": "boolean"
                                          },
                                          {
                                            "type": "string",
                                            "const": "number"
                                          },
                                          {
                                            "type": "string",
                                            "const": "date"
                                          },
                                          {
                                            "type": "string",
                                            "const": "list"
                                          },
                                          {
                                            "type": "string",
                                            "const": "json"
                                          },
                                          {
                                            "type": "string",
                                            "const": "spans"
                                          },
                                          {
                                            "type": "string",
                                            "const": "rag_contexts"
                                          },
                                          {
                                            "type": "string",
                                            "const": "chat_messages"
                                          },
                                          {
                                            "type": "string",
                                            "const": "annotations"
                                          },
                                          {
                                            "type": "string",
                                            "const": "evaluations"
                                          },
                                          {
                                            "type": "string",
                                            "const": "image"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "type"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "records",
                                "columnTypes"
                              ]
                            }
                          }
                        }
                      },
                      "required": [
                        "type"
                      ]
                    },
                    "responseFormat": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "json_schema"
                          ]
                        },
                        "json_schema": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "schema": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "required": [
                            "name",
                            "schema"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "json_schema"
                      ]
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "versionId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "versionId"
                        ]
                      },
                      "default": []
                    }
                  },
                  "required": [
                    "id",
                    "handle",
                    "scope",
                    "name",
                    "updatedAt",
                    "projectId",
                    "organizationId",
                    "versionId",
                    "version",
                    "createdAt",
                    "prompt",
                    "messages",
                    "inputs",
                    "outputs",
                    "model",
                    "tags"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "putApiPromptsById",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "description": "Update a prompt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "temperature": {
                    "type": "number"
                  },
                  "maxTokens": {
                    "type": "number"
                  },
                  "commitMessage": {
                    "type": "string"
                  },
                  "authorId": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant",
                            "system"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    }
                  },
                  "inputs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "str",
                            "float",
                            "bool",
                            "image",
                            "list",
                            "list[str]",
                            "list[float]",
                            "list[int]",
                            "list[bool]",
                            "dict",
                            "chat_messages"
                          ]
                        }
                      },
                      "required": [
                        "identifier",
                        "type"
                      ]
                    }
                  },
                  "outputs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "str",
                            "float",
                            "bool",
                            "json_schema"
                          ]
                        },
                        "json_schema": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": true
                        }
                      },
                      "required": [
                        "identifier",
                        "type"
                      ]
                    }
                  },
                  "schemaVersion": {
                    "type": "string",
                    "enum": [
                      "1.0"
                    ]
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "ORGANIZATION",
                      "PROJECT"
                    ]
                  },
                  "handle": {
                    "type": "string",
                    "pattern": "^[a-z0-9_-]+(?:\\/[a-z0-9_-]+)?$"
                  }
                },
                "required": [
                  "commitMessage"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "deleteApiPromptsById",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "description": "Delete a prompt"
      }
    },
    "/api/prompts/{id}/versions": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "handle": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "scope": {
                        "type": "string",
                        "enum": [
                          "ORGANIZATION",
                          "PROJECT"
                        ]
                      },
                      "name": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      },
                      "projectId": {
                        "type": "string"
                      },
                      "organizationId": {
                        "type": "string"
                      },
                      "versionId": {
                        "type": "string"
                      },
                      "authorId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "version": {
                        "type": "number"
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "commitMessage": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "prompt": {
                        "type": "string"
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "user",
                                "assistant",
                                "system"
                              ]
                            },
                            "content": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ]
                        },
                        "default": []
                      },
                      "inputs": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "identifier": {
                              "type": "string",
                              "minLength": 1
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "str",
                                "float",
                                "bool",
                                "image",
                                "list",
                                "list[str]",
                                "list[float]",
                                "list[int]",
                                "list[bool]",
                                "dict",
                                "chat_messages"
                              ]
                            }
                          },
                          "required": [
                            "identifier",
                            "type"
                          ]
                        },
                        "default": []
                      },
                      "outputs": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "identifier": {
                              "type": "string",
                              "minLength": 1
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "str",
                                "float",
                                "bool",
                                "json_schema"
                              ]
                            },
                            "json_schema": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              },
                              "required": [
                                "type"
                              ],
                              "additionalProperties": true
                            }
                          },
                          "required": [
                            "identifier",
                            "type"
                          ]
                        },
                        "minItems": 1
                      },
                      "model": {
                        "type": "string",
                        "minLength": 1
                      },
                      "temperature": {
                        "type": "number"
                      },
                      "maxTokens": {
                        "type": "number"
                      },
                      "demonstrations": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "inline": {
                            "type": "object",
                            "properties": {
                              "records": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "columnTypes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "anyOf": [
                                        {
                                          "type": "string",
                                          "const": "string"
                                        },
                                        {
                                          "type": "string",
                                          "const": "boolean"
                                        },
                                        {
                                          "type": "string",
                                          "const": "number"
                                        },
                                        {
                                          "type": "string",
                                          "const": "date"
                                        },
                                        {
                                          "type": "string",
                                          "const": "list"
                                        },
                                        {
                                          "type": "string",
                                          "const": "json"
                                        },
                                        {
                                          "type": "string",
                                          "const": "spans"
                                        },
                                        {
                                          "type": "string",
                                          "const": "rag_contexts"
                                        },
                                        {
                                          "type": "string",
                                          "const": "chat_messages"
                                        },
                                        {
                                          "type": "string",
                                          "const": "annotations"
                                        },
                                        {
                                          "type": "string",
                                          "const": "evaluations"
                                        },
                                        {
                                          "type": "string",
                                          "const": "image"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "records",
                              "columnTypes"
                            ]
                          }
                        }
                      },
                      "promptingTechnique": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "few_shot",
                              "in_context",
                              "chain_of_thought"
                            ]
                          },
                          "demonstrations": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "inline": {
                                "type": "object",
                                "properties": {
                                  "records": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "array",
                                      "items": {}
                                    }
                                  },
                                  "columnTypes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "anyOf": [
                                            {
                                              "type": "string",
                                              "const": "string"
                                            },
                                            {
                                              "type": "string",
                                              "const": "boolean"
                                            },
                                            {
                                              "type": "string",
                                              "const": "number"
                                            },
                                            {
                                              "type": "string",
                                              "const": "date"
                                            },
                                            {
                                              "type": "string",
                                              "const": "list"
                                            },
                                            {
                                              "type": "string",
                                              "const": "json"
                                            },
                                            {
                                              "type": "string",
                                              "const": "spans"
                                            },
                                            {
[...]
