# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=XXXXXXXX

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=XXXXXXXX

# Get your LangWatch API Key here: https://app.langwatch.ai/
LANGWATCH_API_KEY=XXXXXXXX

# Keep the default endpoint unless pointing to a self-hosted version
LANGWATCH_ENDPOINT=https://app.langwatch.ai
