{
  "openapi": "3.1.0",
  "info": {
    "title": "LangWatch API",
    "description": "LangWatch openapi spec",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.langwatch.ai"
    }
  ],
  "security": [
    {
      "project_api_key": []
    }
  ],
  "components": {
    "securitySchemes": {
      "project_api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Auth-Token",
        "description": "Project API key for sending traces and accessing project-scoped resources. Format: sk-lw-... (no underscore). Obtain one by creating a project via the Admin API or the LangWatch UI."
      },
      "admin_api_key": {
        "type": "http",
        "scheme": "bearer",
        "description": "Admin API key for organization-level operations (managing projects, API keys). Create one in Settings > API Keys or via POST /api/api-keys. Format: sk-lw-{id}_{secret}."
      },
      "scim_bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "SCIM token for one organization's directory connection, created with POST /api/scim-tokens or in Settings > SCIM. It authenticates provisioning calls only, and stops working if the organization's Enterprise plan lapses."
      },
      "instance_admin_key": {
        "type": "http",
        "scheme": "bearer",
        "description": "Instance administrator key, set as LANGWATCH_INSTANCE_ADMIN_API_KEY on a self-hosted deployment. It exists to create the first organization, before any organization key does; every other management API takes an organization key instead."
      },
      "internal_secret": {
        "type": "http",
        "scheme": "bearer",
        "description": "The deployment's own shared secret, presented by another LangWatch service rather than by a customer. The families behind it are ingress-blocked; they are described so a self-hosted operator can see what the deployment talks to itself about."
      }
    },
    "schemas": {
      "Annotation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "projectId": {
            "type": "string",
            "minLength": 1
          },
          "traceId": {
            "type": "string",
            "minLength": 1
          },
          "userId": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "null"
              }
            ]
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "comment": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "isThumbsUp": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ]
          },
          "scoreOptions": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonValue"
            }
          },
          "expectedOutput": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "anchorKind": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "anchorId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "anchorPath": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "projectId",
          "traceId",
          "userId",
          "email",
          "comment",
          "isThumbsUp",
          "scoreOptions",
          "expectedOutput",
          "anchorKind",
          "anchorId",
          "anchorPath",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": {}
      },
      "SearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "filters": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string",
              "enum": [
                "topics.topics",
                "topics.subtopics",
                "metadata.user_id",
                "metadata.thread_id",
                "metadata.customer_id",
                "metadata.labels",
                "metadata.key",
                "metadata.value",
                "metadata.prompt_ids",
                "traces.origin",
                "traces.error",
                "traces.name",
                "spans.type",
                "spans.model",
                "evaluations.evaluator_id",
                "evaluations.evaluator_id.guardrails_only",
                "evaluations.evaluator_id.has_passed",
                "evaluations.evaluator_id.has_score",
                "evaluations.evaluator_id.has_label",
                "evaluations.passed",
                "evaluations.score",
                "evaluations.state",
                "evaluations.label",
                "events.event_type",
                "events.metrics.key",
                "events.metrics.value",
                "events.event_details.key",
                "annotations.hasAnnotation"
              ]
            },
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              ]
            },
            "properties": {
              "topics.topics": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "topics.subtopics": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "metadata.user_id": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "metadata.thread_id": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "metadata.customer_id": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "metadata.labels": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "metadata.key": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "metadata.value": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "metadata.prompt_ids": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "traces.origin": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "traces.error": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "traces.name": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "spans.type": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "spans.model": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "evaluations.evaluator_id": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "evaluations.evaluator_id.guardrails_only": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "evaluations.evaluator_id.has_passed": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "evaluations.evaluator_id.has_score": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "evaluations.evaluator_id.has_label": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "evaluations.passed": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "evaluations.score": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "evaluations.state": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "evaluations.label": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "events.event_type": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "events.metrics.key": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "events.metrics.value": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "events.event_details.key": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              },
              "annotations.hasAnnotation": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "traceIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "negateFilters": {
            "type": "boolean"
          },
          "excludeOrigins": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pageOffset": {
            "description": "Removed. Offset pagination is no longer supported and any value other than 0 is rejected. Page with the scrollId returned by the previous response instead. The field remains on the schema so that sending it produces an explanatory error rather than being silently discarded.",
            "type": "number"
          },
          "pageSize": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 4000
          },
          "groupBy": {
            "type": "string"
          },
          "sortBy": {
            "type": "string"
          },
          "sortDirection": {
            "type": "string"
          },
          "updatedAt": {
            "type": "number"
          },
          "scrollId": {
            "type": [
              "string",
              "null"
            ]
          },
          "startDate": {
            "type": [
              "number",
              "string"
            ]
          },
          "endDate": {
            "type": [
              "number",
              "string"
            ]
          },
          "format": {
            "type": "string",
            "enum": [
              "digest",
              "json"
            ]
          },
          "llmMode": {
            "default": false,
            "type": "boolean"
          }
        },
        "required": [
          "startDate",
          "endDate"
        ],
        "additionalProperties": false
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "traces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trace"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "totalHits": {
                "type": "number"
              },
              "scrollId": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "totalHits"
            ]
          }
        },
        "required": [
          "traces",
          "pagination"
        ]
      },
      "Trace": {
        "type": "object",
        "properties": {
          "trace_id": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "privacy": {
            "type": "object",
            "properties": {
              "droppedCategories": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "timestamps": {
            "$ref": "#/components/schemas/Timestamps"
          },
          "input": {
            "$ref": "#/components/schemas/Input"
          },
          "output": {
            "$ref": "#/components/schemas/Output"
          },
          "contexts": {
            "type": "array",
            "items": {}
          },
          "expected_output": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string"
              }
            },
            "required": [
              "value"
            ]
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics"
          },
          "error": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "has_error": {
                    "type": "boolean",
                    "const": true
                  },
                  "message": {
                    "type": "string"
                  },
                  "stacktrace": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "has_error",
                  "message",
                  "stacktrace"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "indexing_md5s": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "event_id": {
                  "type": "string"
                },
                "event_type": {
                  "type": "string"
                },
                "project_id": {
                  "type": "string"
                },
                "metrics": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "number"
                  }
                },
                "event_details": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "trace_id": {
                  "type": "string"
                },
                "timestamps": {
                  "type": "object",
                  "properties": {
                    "started_at": {
                      "type": "integer"
                    },
                    "inserted_at": {
                      "type": "integer"
                    },
                    "updated_at": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "started_at",
                    "inserted_at",
                    "updated_at"
                  ]
                }
              },
              "required": [
                "event_id",
                "event_type",
                "project_id",
                "metrics",
                "event_details",
                "trace_id",
                "timestamps"
              ]
            }
          },
          "evaluations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Evaluation"
            }
          },
          "spans": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "span_id": {
                      "type": "string"
                    },
                    "parent_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "trace_id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "const": "llm"
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "input": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/SpanInputOutput"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "output": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/SpanInputOutput"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "has_error": {
                              "type": "boolean",
                              "const": true
                            },
                            "message": {
                              "type": "string"
                            },
                            "stacktrace": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "has_error",
                            "message",
                            "stacktrace"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "timestamps": {
                      "type": "object",
                      "properties": {
                        "ignore_timestamps_on_write": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "started_at": {
                          "type": "integer"
                        },
                        "first_token_at": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "finished_at": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "started_at",
                        "finished_at"
                      ]
                    },
                    "metrics": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "prompt_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "completion_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "reasoning_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "cache_read_input_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "cache_creation_input_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "tokens_estimated": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            },
                            "cost": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "params": {
                      "anyOf": [
                        {
                          "allOf": [
                            {
                              "type": "object",
                              "properties": {
                                "frequency_penalty": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "logit_bias": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "propertyNames": {
                                        "type": "string"
                                      },
                                      "additionalProperties": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "logprobs": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "top_logprobs": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "max_tokens": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "n": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "presence_penalty": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "seed": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "stop": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "stream": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "temperature": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "top_p": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "tools": {
                                  "anyOf": [
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "tool_choice": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "additionalProperties": {}
                                        },
                                        {
                                          "type": "string"
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "parallel_tool_calls": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "functions": {
                                  "anyOf": [
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "user": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "reasoning_effort": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              }
                            },
                            {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {}
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "vendor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "model": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "span_id",
                    "trace_id",
                    "type",
                    "timestamps"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "span_id": {
                      "type": "string"
                    },
                    "parent_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "trace_id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "const": "rag"
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "input": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/SpanInputOutput"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "output": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/SpanInputOutput"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "has_error": {
                              "type": "boolean",
                              "const": true
                            },
                            "message": {
                              "type": "string"
                            },
                            "stacktrace": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "has_error",
                            "message",
                            "stacktrace"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "timestamps": {
                      "type": "object",
                      "properties": {
                        "ignore_timestamps_on_write": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "started_at": {
                          "type": "integer"
                        },
                        "first_token_at": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "finished_at": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "started_at",
                        "finished_at"
                      ]
                    },
                    "metrics": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "prompt_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "completion_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "reasoning_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "cache_read_input_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "cache_creation_input_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "tokens_estimated": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            },
                            "cost": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "params": {
                      "anyOf": [
                        {
                          "allOf": [
                            {
                              "type": "object",
                              "properties": {
                                "frequency_penalty": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "logit_bias": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "propertyNames": {
                                        "type": "string"
                                      },
                                      "additionalProperties": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "logprobs": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "top_logprobs": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "max_tokens": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "n": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "presence_penalty": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "seed": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "stop": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "stream": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "temperature": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "top_p": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "tools": {
                                  "anyOf": [
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "tool_choice": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "additionalProperties": {}
                                        },
                                        {
                                          "type": "string"
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "parallel_tool_calls": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "functions": {
                                  "anyOf": [
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "user": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "reasoning_effort": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              }
                            },
                            {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {}
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "contexts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "document_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "chunk_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "content": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              {
                                "type": "array",
                                "items": {}
                              }
                            ]
                          }
                        },
                        "required": [
                          "content"
                        ]
                      }
                    }
                  },
                  "required": [
                    "span_id",
                    "trace_id",
                    "type",
                    "timestamps",
                    "contexts"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "span_id": {
                      "type": "string"
                    },
                    "parent_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "trace_id": {
                      "type": "string"
                    },
                    "type": {
                      "anyOf": [
                        {
                          "type": "string",
                          "const": "span"
                        },
                        {
                          "type": "string",
                          "const": "llm"
                        },
                        {
                          "type": "string",
                          "const": "chain"
                        },
                        {
                          "type": "string",
                          "const": "tool"
                        },
                        {
                          "type": "string",
                          "const": "agent"
                        },
                        {
                          "type": "string",
                          "const": "rag"
                        },
                        {
                          "type": "string",
                          "const": "guardrail"
                        },
                        {
                          "type": "string",
                          "const": "evaluation"
                        },
                        {
                          "type": "string",
                          "const": "workflow"
                        },
                        {
                          "type": "string",
                          "const": "component"
                        },
                        {
                          "type": "string",
                          "const": "module"
                        },
                        {
                          "type": "string",
                          "const": "server"
                        },
                        {
                          "type": "string",
                          "const": "client"
                        },
                        {
                          "type": "string",
                          "const": "producer"
                        },
                        {
                          "type": "string",
                          "const": "consumer"
                        },
                        {
                          "type": "string",
                          "const": "task"
                        },
                        {
                          "type": "string",
                          "const": "unknown"
                        }
                      ]
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "input": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/SpanInputOutput"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "output": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/SpanInputOutput"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "has_error": {
                              "type": "boolean",
                              "const": true
                            },
                            "message": {
                              "type": "string"
                            },
                            "stacktrace": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "has_error",
                            "message",
                            "stacktrace"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "timestamps": {
                      "type": "object",
                      "properties": {
                        "ignore_timestamps_on_write": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "started_at": {
                          "type": "integer"
                        },
                        "first_token_at": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "finished_at": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "started_at",
                        "finished_at"
                      ]
                    },
                    "metrics": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "prompt_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "completion_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "reasoning_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "cache_read_input_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "cache_creation_input_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "tokens_estimated": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            },
                            "cost": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "params": {
                      "anyOf": [
                        {
                          "allOf": [
                            {
                              "type": "object",
                              "properties": {
                                "frequency_penalty": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "logit_bias": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "propertyNames": {
                                        "type": "string"
                                      },
                                      "additionalProperties": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "logprobs": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "top_logprobs": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "max_tokens": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "n": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "presence_penalty": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "seed": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "stop": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "stream": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "temperature": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "top_p": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "tools": {
                                  "anyOf": [
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "tool_choice": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "additionalProperties": {}
                                        },
                                        {
                                          "type": "string"
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "parallel_tool_calls": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "functions": {
                                  "anyOf": [
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "user": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "reasoning_effort": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              }
                            },
                            {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {}
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "span_id",
                    "trace_id",
                    "type",
                    "timestamps"
                  ]
                }
              ]
            }
          },
          "redacted_by_visibility_window": {
            "type": "boolean"
          }
        },
        "required": [
          "spans"
        ]
      },
      "Timestamps": {
        "type": "object",
        "properties": {
          "started_at": {
            "type": "integer"
          },
          "inserted_at": {
            "type": "integer"
          },
          "updated_at": {
            "type": "integer"
          }
        }
      },
      "Input": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          }
        }
      },
      "Output": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          }
        }
      },
      "Metadata": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "thread_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "user_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "customer_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "labels": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "topic_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "subtopic_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "sdk_name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "sdk_version": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "sdk_language": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "telemetry_sdk_language": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "telemetry_sdk_name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "telemetry_sdk_version": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "prompt_ids": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "prompt_version_ids": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "anyOf": [
                {
                  "anyOf": [
                    {
                      "anyOf": [
[...]
