{
  "openapi": "3.1.0",
  "info": {
    "title": "LangWatch API",
    "description": "LangWatch openapi spec",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.langwatch.ai"
    }
  ],
  "security": [
    {
      "project_api_key": []
    }
  ],
  "components": {
    "securitySchemes": {
      "project_api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Auth-Token",
        "description": "Project API key for sending traces and accessing project-scoped resources. Format: sk-lw-... (no underscore). Obtain one by creating a project via the Admin API or the LangWatch UI."
      },
      "admin_api_key": {
        "type": "http",
        "scheme": "bearer",
        "description": "Admin API key for organization-level operations (managing projects, API keys). Create one in Settings > API Keys or via POST /api/api-keys. Format: sk-lw-{id}_{secret}."
      },
      "scim_bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "SCIM token for one organization's directory connection, created with POST /api/scim-tokens or in Settings > SCIM. It authenticates provisioning calls only, and stops working if the organization's Enterprise plan lapses."
      },
      "cli_access_token": {
        "type": "http",
        "scheme": "bearer",
        "description": "The device session the LangWatch CLI holds after `langwatch login`. It acts as the person who signed in, in the organization they chose, and expires unless the CLI refreshes it."
      },
      "instance_admin_key": {
        "type": "http",
        "scheme": "bearer",
        "description": "Instance administrator key, set as LANGWATCH_INSTANCE_ADMIN_API_KEY on a self-hosted deployment. It exists to create the first organization, before any organization key does; every other management API takes an organization key instead."
      },
      "internal_secret": {
        "type": "http",
        "scheme": "bearer",
        "description": "The deployment's own shared secret, presented by another LangWatch service rather than by a customer. The families behind it are ingress-blocked; they are described so a self-hosted operator can see what the deployment talks to itself about."
      }
    },
    "schemas": {
      "DatasetPostEntries": {
        "type": "object",
        "properties": {
          "entries": {
            "minItems": 1,
            "maxItems": 4000,
            "type": "array",
            "items": {
              "type": "object",
              "propertyNames": {
                "type": "string"
              },
              "additionalProperties": {}
            },
            "example": [
              {
                "input": "hi",
                "output": "Hello, how can I help you today?"
              }
            ]
          }
        },
        "required": [
          "entries"
        ]
      },
      "DatasetImport": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "storedObjectId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]*$"
          },
          "columnTypes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "string",
                    "boolean",
                    "number",
                    "date",
                    "list",
                    "json",
                    "spans",
                    "rag_contexts",
                    "chat_messages",
                    "annotations",
                    "evaluations",
                    "image",
                    "file"
                  ]
                },
                "sourceHeader": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "type",
                "sourceHeader"
              ]
            }
          }
        },
        "required": [
          "name",
          "storedObjectId"
        ]
      },
      "DatasetAppendImport": {
        "type": "object",
        "properties": {
          "storedObjectId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]*$"
          }
        },
        "required": [
          "storedObjectId"
        ]
      },
      "DatasetAttachment": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The value to write into the cell, and the address the file is served from."
          },
          "name": {
            "type": "string",
            "description": "The file name the reference carries."
          },
          "mediaType": {
            "type": "string",
            "description": "The media type the file is stored under."
          },
          "sizeBytes": {
            "type": "number",
            "description": "The size of the stored file, in bytes."
          }
        },
        "required": [
          "url",
          "name",
          "mediaType",
          "sizeBytes"
        ],
        "additionalProperties": false
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "traces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trace"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "totalHits": {
                "type": "number"
              },
              "scrollId": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "totalHits"
            ]
          }
        },
        "required": [
          "traces",
          "pagination"
        ]
      },
      "Trace": {
        "type": "object",
        "properties": {
          "trace_id": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "privacy": {
            "type": "object",
            "properties": {
              "droppedCategories": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "timestamps": {
            "$ref": "#/components/schemas/Timestamps"
          },
          "input": {
            "$ref": "#/components/schemas/Input"
          },
          "output": {
            "$ref": "#/components/schemas/Output"
          },
          "contexts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "document_id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "chunk_id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "content": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    },
                    {
                      "type": "array",
                      "items": {}
                    }
                  ]
                }
              },
              "required": [
                "content"
              ]
            }
          },
          "expected_output": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string"
              }
            },
            "required": [
              "value"
            ]
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics"
          },
          "error": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "has_error": {
                    "type": "boolean",
                    "const": true
                  },
                  "message": {
                    "type": "string"
                  },
                  "stacktrace": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "has_error",
                  "message",
                  "stacktrace"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "indexing_md5s": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "event_id": {
                  "type": "string"
                },
                "event_type": {
                  "type": "string"
                },
                "project_id": {
                  "type": "string"
                },
                "metrics": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "number"
                  }
                },
                "event_details": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "trace_id": {
                  "type": "string"
                },
                "timestamps": {
                  "type": "object",
                  "properties": {
                    "started_at": {
                      "type": "number"
                    },
                    "inserted_at": {
                      "type": "number"
                    },
                    "updated_at": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "started_at",
                    "inserted_at",
                    "updated_at"
                  ]
                }
              },
              "required": [
                "event_id",
                "event_type",
                "project_id",
                "metrics",
                "event_details",
                "trace_id",
                "timestamps"
              ]
            }
          },
          "evaluations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Evaluation"
            }
          },
          "spans": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "span_id": {
                      "type": "string"
                    },
                    "parent_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "trace_id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "const": "llm"
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "input": {
                      "anyOf": [
                        {
                          "anyOf": [
                            {
                              "$ref": "#/components/schemas/SpanInputOutput"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "const": "evaluation_result"
                                    },
                                    {
                                      "type": "string",
                                      "const": "guardrail_result"
                                    }
                                  ]
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "type": "object",
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "additionalProperties": {}
                                        },
                                        {
                                          "type": "array",
                                          "items": {}
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "type",
                                "value"
                              ]
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "output": {
                      "anyOf": [
                        {
                          "anyOf": [
                            {
                              "$ref": "#/components/schemas/SpanInputOutput"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "const": "evaluation_result"
                                    },
                                    {
                                      "type": "string",
                                      "const": "guardrail_result"
                                    }
                                  ]
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "type": "object",
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "additionalProperties": {}
                                        },
                                        {
                                          "type": "array",
                                          "items": {}
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "type",
                                "value"
                              ]
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "has_error": {
                              "type": "boolean",
                              "const": true
                            },
                            "message": {
                              "type": "string"
                            },
                            "stacktrace": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "has_error",
                            "message",
                            "stacktrace"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "timestamps": {
                      "type": "object",
                      "properties": {
                        "ignore_timestamps_on_write": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "started_at": {
                          "type": "number"
                        },
                        "first_token_at": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "finished_at": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "started_at",
                        "finished_at"
                      ]
                    },
                    "metrics": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "prompt_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "completion_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "reasoning_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "cache_read_input_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "cache_creation_input_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "tokens_estimated": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            },
                            "cost": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "params": {
                      "anyOf": [
                        {
                          "allOf": [
                            {
                              "type": "object",
                              "properties": {
                                "frequency_penalty": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "logit_bias": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "propertyNames": {
                                        "type": "string"
                                      },
                                      "additionalProperties": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "logprobs": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "top_logprobs": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "max_tokens": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "n": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "presence_penalty": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "seed": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "stop": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "stream": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "temperature": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "top_p": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "tools": {
                                  "anyOf": [
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "tool_choice": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "additionalProperties": {}
                                        },
                                        {
                                          "type": "string"
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "parallel_tool_calls": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "functions": {
                                  "anyOf": [
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "user": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "reasoning_effort": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              }
                            },
                            {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {}
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "vendor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "model": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "span_id",
                    "trace_id",
                    "type",
                    "timestamps"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "span_id": {
                      "type": "string"
                    },
                    "parent_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "trace_id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "const": "rag"
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "input": {
                      "anyOf": [
                        {
                          "anyOf": [
                            {
                              "$ref": "#/components/schemas/SpanInputOutput"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "const": "evaluation_result"
                                    },
                                    {
                                      "type": "string",
                                      "const": "guardrail_result"
                                    }
                                  ]
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "type": "object",
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "additionalProperties": {}
                                        },
                                        {
                                          "type": "array",
                                          "items": {}
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "type",
                                "value"
                              ]
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "output": {
                      "anyOf": [
                        {
                          "anyOf": [
                            {
                              "$ref": "#/components/schemas/SpanInputOutput"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "const": "evaluation_result"
                                    },
                                    {
                                      "type": "string",
                                      "const": "guardrail_result"
                                    }
                                  ]
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "type": "object",
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "additionalProperties": {}
                                        },
                                        {
                                          "type": "array",
                                          "items": {}
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "type",
                                "value"
                              ]
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "has_error": {
                              "type": "boolean",
                              "const": true
                            },
                            "message": {
                              "type": "string"
                            },
                            "stacktrace": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "has_error",
                            "message",
                            "stacktrace"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "timestamps": {
                      "type": "object",
                      "properties": {
                        "ignore_timestamps_on_write": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "started_at": {
                          "type": "number"
                        },
                        "first_token_at": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "finished_at": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "started_at",
                        "finished_at"
                      ]
                    },
                    "metrics": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "prompt_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "completion_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "reasoning_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "cache_read_input_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "cache_creation_input_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "tokens_estimated": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            },
                            "cost": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "params": {
                      "anyOf": [
                        {
                          "allOf": [
                            {
                              "type": "object",
                              "properties": {
                                "frequency_penalty": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "logit_bias": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "propertyNames": {
                                        "type": "string"
                                      },
                                      "additionalProperties": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "logprobs": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "top_logprobs": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "max_tokens": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "n": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "presence_penalty": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "seed": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "stop": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "stream": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "temperature": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "top_p": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "tools": {
                                  "anyOf": [
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "tool_choice": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "additionalProperties": {}
                                        },
                                        {
                                          "type": "string"
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "parallel_tool_calls": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "functions": {
                                  "anyOf": [
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "user": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "reasoning_effort": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              }
                            },
                            {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {}
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "contexts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "document_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "chunk_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "content": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              {
                                "type": "array",
                                "items": {}
                              }
                            ]
                          }
                        },
                        "required": [
                          "content"
                        ]
                      }
                    }
                  },
                  "required": [
                    "span_id",
                    "trace_id",
                    "type",
                    "timestamps",
                    "contexts"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "span_id": {
                      "type": "string"
                    },
                    "parent_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "trace_id": {
                      "type": "string"
                    },
                    "type": {
                      "anyOf": [
                        {
                          "type": "string",
                          "const": "span"
                        },
                        {
                          "type": "string",
                          "const": "llm"
                        },
                        {
                          "type": "string",
                          "const": "chain"
                        },
                        {
                          "type": "string",
                          "const": "tool"
                        },
                        {
                          "type": "string",
                          "const": "agent"
                        },
                        {
                          "type": "string",
                          "const": "rag"
                        },
                        {
                          "type": "string",
                          "const": "guardrail"
                        },
                        {
                          "type": "string",
                          "const": "evaluation"
                        },
                        {
                          "type": "string",
                          "const": "workflow"
                        },
                        {
                          "type": "string",
                          "const": "component"
                        },
                        {
                          "type": "string",
                          "const": "module"
                        },
                        {
                          "type": "string",
                          "const": "server"
                        },
                        {
                          "type": "string",
                          "const": "client"
                        },
                        {
                          "type": "string",
                          "const": "producer"
                        },
                        {
                          "type": "string",
                          "const": "consumer"
                        },
                        {
                          "type": "string",
                          "const": "task"
                        },
                        {
                          "type": "string",
                          "const": "unknown"
                        }
                      ]
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "input": {
                      "anyOf": [
                        {
                          "anyOf": [
                            {
                              "$ref": "#/components/schemas/SpanInputOutput"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "const": "evaluation_result"
                                    },
                                    {
                                      "type": "string",
                                      "const": "guardrail_result"
                                    }
                                  ]
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "type": "object",
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "additionalProperties": {}
                                        },
                                        {
                                          "type": "array",
                                          "items": {}
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "type",
                                "value"
                              ]
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "output": {
                      "anyOf": [
                        {
                          "anyOf": [
                            {
                              "$ref": "#/components/schemas/SpanInputOutput"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "const": "evaluation_result"
                                    },
                                    {
                                      "type": "string",
                                      "const": "guardrail_result"
                                    }
                                  ]
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "type": "object",
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "additionalProperties": {}
                                        },
                                        {
                                          "type": "array",
                                          "items": {}
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "type",
                                "value"
                              ]
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "has_error": {
                              "type": "boolean",
                              "const": true
                            },
                            "message": {
                              "type": "string"
                            },
                            "stacktrace": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "has_error",
                            "message",
                            "stacktrace"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "timestamps": {
                      "type": "object",
                      "properties": {
                        "ignore_timestamps_on_write": {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        },
                        "started_at": {
                          "type": "number"
                        },
                        "first_token_at": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "finished_at": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "started_at",
                        "finished_at"
                      ]
                    },
                    "metrics": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "prompt_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "completion_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "reasoning_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "cache_read_input_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "cache_creation_input_tokens": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "tokens_estimated": {
                              "type": [
                                "boolean",
                                "null"
                              ]
                            },
                            "cost": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "params": {
                      "anyOf": [
                        {
                          "allOf": [
                            {
                              "type": "object",
                              "properties": {
                                "frequency_penalty": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "logit_bias": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "propertyNames": {
                                        "type": "string"
                                      },
                                      "additionalProperties": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "logprobs": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "top_logprobs": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "max_tokens": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "n": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "presence_penalty": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "seed": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "stop": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "stream": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "temperature": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "top_p": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "tools": {
                                  "anyOf": [
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "tool_choice": {
                                  "anyOf": [
                                    {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "propertyNames": {
                                            "type": "string"
                                          },
                                          "additionalProperties": {}
                                        },
                                        {
                                          "type": "string"
                                        }
                                      ]
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "parallel_tool_calls": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "functions": {
                                  "anyOf": [
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "user": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "reasoning_effort": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              }
                            },
                            {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {}
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "span_id",
                    "trace_id",
                    "type",
                    "timestamps"
                  ]
                }
              ]
            }
          },
          "redacted_by_visibility_window": {
            "type": "boolean"
          }
        },
        "required": [
          "trace_id",
          "project_id",
          "metadata",
          "timestamps",
          "spans"
        ]
      },
      "Metadata": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "thread_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "user_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "customer_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "labels": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "topic_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "subtopic_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "sdk_name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "sdk_version": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "sdk_language": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "telemetry_sdk_language": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "telemetry_sdk_name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "telemetry_sdk_version": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "prompt_ids": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "prompt_version_ids": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "anyOf": [
                {
                  "anyOf": [
                    {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {}
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          },
                          {}
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "anyOf": [
                      {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          },
                          {}
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            },
                            {}
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              ]
            }
          }
        ]
      },
      "Timestamps": {
        "type": "object",
        "properties": {
          "started_at": {
            "type": "number"
          },
          "inserted_at": {
            "type": "number"
          },
          "updated_at": {
            "type": "number"
          }
        },
        "required": [
          "started_at",
          "inserted_at",
          "updated_at"
        ]
      },
      "Input": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          }
        },
        "required": [
          "value"
        ]
      },
      "Output": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          }
        },
        "required": [
          "value"
        ]
      },
      "Metrics": {
        "type": "object",
        "properties": {
          "first_token_ms": {
            "type": [
              "number",
              "null"
            ]
          },
          "total_time_ms": {
            "type": [
              "number",
              "null"
            ]
          },
          "prompt_tokens": {
            "type": [
              "number",
              "null"
            ]
          },
          "completion_tokens": {
            "type": [
              "number",
              "null"
            ]
          },
          "reasoning_tokens": {
            "type": [
              "number",
              "null"
            ]
          },
          "cache_read_input_tokens": {
            "type": [
              "number",
              "null"
            ]
          },
          "cache_creation_input_tokens": {
            "type": [
              "number",
              "null"
            ]
          },
          "cache_creation_5m_input_tokens": {
            "type": [
              "number",
              "null"
            ]
          },
          "cache_creation_1h_input_tokens": {
            "type": [
              "number",
              "null"
            ]
          },
          "context_size_tokens": {
            "type": [
              "number",
              "null"
            ]
          },
          "total_cost": {
            "type": [
              "number",
              "null"
            ]
          },
          "tokens_estimated": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "Evaluation": {
        "type": "object",
        "properties": {
          "evaluation_id": {
            "type": "string"
          },
          "evaluator_id": {
            "type": "string"
          },
          "span_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_guardrail": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "evaluation_thread_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "const": "scheduled"
              },
              {
                "type": "string",
                "const": "in_progress"
              },
              {
                "type": "string",
                "const": "error"
              },
              {
                "type": "string",
                "const": "skipped"
              },
              {
                "type": "string",
                "const": "processed"
              }
            ]
          },
          "passed": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "score": {
            "type": [
              "number",
              "null"
            ]
          },
          "label": {
            "type": [
              "string",
              "null"
            ]
          },
          "details": {
            "type": [
              "string",
              "null"
            ]
          },
          "inputs": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {}
              },
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "has_error": {
                    "type": "boolean",
                    "const": true
                  },
                  "message": {
                    "type": "string"
                  },
                  "stacktrace": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "has_error",
                  "message",
                  "stacktrace"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "retries": {
            "type": [
              "number",
              "null"
            ]
          },
          "timestamps": {
            "$ref": "#/components/schemas/EvaluationTimestamps"
          }
        },
        "required": [
          "evaluation_id",
          "evaluator_id",
          "name",
          "status",
          "timestamps"
        ]
      },
      "EvaluationTimestamps": {
        "type": "object",
        "properties": {
          "ignore_timestamps_on_write": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "inserted_at": {
            "type": [
              "number",
              "null"
            ]
          },
          "started_at": {
            "type": [
              "number",
              "null"
            ]
          },
          "finished_at": {
            "type": [
              "number",
              "null"
            ]
          },
          "updated_at": {
            "type": [
              "number",
              "null"
            ]
          }
        }
      },
      "SpanInputOutput": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "text"
              },
              "value": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "value"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "chat_messages"
              },
              "value": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "anyOf": [
                        {
                          "type": "string",
                          "const": "system"
                        },
                        {
                          "type": "string",
                          "const": "developer"
                        },
                        {
                          "type": "string",
                          "const": "user"
                        },
                        {
                          "type": "string",
                          "const": "assistant"
                        },
                        {
                          "type": "string",
                          "const": "function"
                        },
                        {
                          "type": "string",
                          "const": "tool"
                        },
                        {
                          "type": "string",
                          "const": "unknown"
                        }
                      ]
                    },
                    "content": {
                      "anyOf": [
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "text"
                                      },
                                      "text": {
                                        "type": "string"
                                      },
                                      "content": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "text": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "text"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "image_url"
                                      },
                                      "image_url": {
                                        "type": "object",
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          },
                                          "detail": {
                                            "anyOf": [
                                              {
                                                "type": "string",
                                                "const": "auto"
                                              },
                                              {
                                                "type": "string",
                                                "const": "low"
                                              },
                                              {
                                                "type": "string",
                                                "const": "high"
                                              }
                                            ]
                                          }
                                        },
                                        "required": [
                                          "url"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "tool_call"
                                      },
                                      "toolName": {
                                        "type": "string"
                                      },
                                      "toolCallId": {
                                        "type": "string"
                                      },
                                      "args": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "tool_result"
                                      },
                                      "toolName": {
                                        "type": "string"
                                      },
                                      "toolCallId": {
                                        "type": "string"
                                      },
                                      "result": {}
                                    },
                                    "required": [
                                      "type"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "binary"
                                      },
                                      "mimeType": {
                                        "type": "string"
                                      },
                                      "data": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "filename": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "mimeType"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "input_audio"
                                      },
                                      "input_audio": {
                                        "type": "object",
                                        "properties": {
                                          "data": {
                                            "type": "string"
                                          },
                                          "format": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          },
                                          "mimeType": {
                                            "type": "string"
                                          },
                                          "id": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "input_audio"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "audio"
                                      },
                                      "source": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "anyOf": [
                                              {
                                                "type": "string",
                                                "const": "url"
                                              },
                                              {
                                                "type": "string",
                                                "const": "data"
                                              }
                                            ]
                                          },
                                          "value": {
                                            "type": "string"
                                          },
                                          "mimeType": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "value"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "source"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "image"
                                      },
                                      "image": {
                                        "type": "string"
                                      },
                                      "mediaType": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "image"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "file"
                                      },
                                      "mediaType": {
                                        "type": "string"
                                      },
                                      "data": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string"
                                      },
[...]
