{
  "openapi": "3.1.0",
  "info": {
    "title": "LangEvals API",
    "version": "1.0.0",
    "description": "API for LangEvals evaluators"
  },
  "servers": [
    {
      "url": "https://app.langwatch.ai/api/evaluations",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/openai/moderation/evaluate": {
      "post": {
        "summary": "OpenAI Moderation",
        "description": "This evaluator uses OpenAI's moderation API to detect potentially harmful content in text,\nincluding harassment, hate speech, self-harm, sexual content, and violence.",
        "operationId": "openai_moderation_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/openai_moderationRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/openai_moderationSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"openai/moderation\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"openai/moderation\",\n        name=\"My OpenAI Moderation Check\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"openai/moderation\", {\n      index,\n      data: {\n        input: item.input,\n        output: output,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"openai/moderation\", {\n    name: \"my-evaluation\",\n    data: {\n      input: \"\", // your input value\n      output: \"\", // your output value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/langevals/basic/evaluate": {
      "post": {
        "summary": "Custom Basic Evaluator",
        "description": "Allows you to check for simple text matches or regex evaluation.",
        "operationId": "langevals_basic_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_basicRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_basicSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"langevals/basic\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"langevals/basic\",\n        name=\"My Custom Basic Evaluator Check\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"langevals/basic\", {\n      index,\n      data: {\n        input: item.input,\n        output: output,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"langevals/basic\", {\n    name: \"my-evaluation\",\n    data: {\n      input: \"\", // your input value\n      output: \"\", // your output value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/langevals/competitor_blocklist/evaluate": {
      "post": {
        "summary": "Competitor Blocklist",
        "description": "This evaluator checks if any of the specified competitors was mentioned",
        "operationId": "langevals_competitor_blocklist_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_competitor_blocklistRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_competitor_blocklistSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"langevals/competitor_blocklist\",\n        index=index,\n        data={\n            \"output\": output,\n            \"input\": row[\"input\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"langevals/competitor_blocklist\",\n        name=\"My Competitor Blocklist Check\",\n        data={\n            \"output\": \"\",\n            \"input\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"langevals/competitor_blocklist\", {\n      index,\n      data: {\n        output: output,\n        input: item.input,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"langevals/competitor_blocklist\", {\n    name: \"my-evaluation\",\n    data: {\n      output: \"\", // your output value\n      input: \"\", // your input value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/langevals/competitor_llm/evaluate": {
      "post": {
        "summary": "Competitor Allowlist Check",
        "description": "This evaluator use an LLM-as-judge to check if the conversation is related to competitors, without having to name them explicitly",
        "operationId": "langevals_competitor_llm_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_competitor_llmRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_competitor_llmSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"langevals/competitor_llm\",\n        index=index,\n        data={\n            \"output\": output,\n            \"input\": row[\"input\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"langevals/competitor_llm\",\n        name=\"My Competitor Allowlist Check Check\",\n        data={\n            \"output\": \"\",\n            \"input\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"langevals/competitor_llm\", {\n      index,\n      data: {\n        output: output,\n        input: item.input,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"langevals/competitor_llm\", {\n    name: \"my-evaluation\",\n    data: {\n      output: \"\", // your output value\n      input: \"\", // your input value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/langevals/competitor_llm_function_call/evaluate": {
      "post": {
        "summary": "Competitor LLM Check",
        "description": "This evaluator implements LLM-as-a-judge with a function call approach to check if the message contains a mention of a competitor.",
        "operationId": "langevals_competitor_llm_function_call_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_competitor_llm_function_callRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_competitor_llm_function_callSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"langevals/competitor_llm_function_call\",\n        index=index,\n        data={\n            \"output\": output,\n            \"input\": row[\"input\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"langevals/competitor_llm_function_call\",\n        name=\"My Competitor LLM Check Check\",\n        data={\n            \"output\": \"\",\n            \"input\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"langevals/competitor_llm_function_call\", {\n      index,\n      data: {\n        output: output,\n        input: item.input,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"langevals/competitor_llm_function_call\", {\n    name: \"my-evaluation\",\n    data: {\n      output: \"\", // your output value\n      input: \"\", // your input value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/langevals/exact_match/evaluate": {
      "post": {
        "summary": "Exact Match Evaluator",
        "description": "A simple evaluator that checks if the output matches the expected_output exactly.",
        "operationId": "langevals_exact_match_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_exact_matchRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_exact_matchSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"langevals/exact_match\",\n        index=index,\n        data={\n            \"output\": output,\n            \"expected_output\": row[\"expected_output\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"langevals/exact_match\",\n        name=\"My Exact Match Evaluator Check\",\n        data={\n            \"output\": \"\",\n            \"expected_output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"langevals/exact_match\", {\n      index,\n      data: {\n        output: output,\n        expected_output: item.expected_output,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"langevals/exact_match\", {\n    name: \"my-evaluation\",\n    data: {\n      output: \"\", // your output value\n      expected_output: \"\", // your expected_output value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/langevals/llm_answer_match/evaluate": {
      "post": {
        "summary": "LLM Answer Match",
        "description": "Uses an LLM to check if the generated output answers a question correctly the same way as the expected output, even if their style is different.",
        "operationId": "langevals_llm_answer_match_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_llm_answer_matchRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_llm_answer_matchSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"langevals/llm_answer_match\",\n        index=index,\n        data={\n            \"output\": output,\n            \"expected_output\": row[\"expected_output\"],\n            \"input\": row[\"input\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"langevals/llm_answer_match\",\n        name=\"My LLM Answer Match Check\",\n        data={\n            \"output\": \"\",\n            \"expected_output\": \"\",\n            \"input\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"langevals/llm_answer_match\", {\n      index,\n      data: {\n        output: output,\n        expected_output: item.expected_output,\n        input: item.input,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"langevals/llm_answer_match\", {\n    name: \"my-evaluation\",\n    data: {\n      output: \"\", // your output value\n      expected_output: \"\", // your expected_output value\n      input: \"\", // your input value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/langevals/llm_boolean/evaluate": {
      "post": {
        "summary": "LLM-as-a-Judge Boolean Evaluator",
        "description": "Use an LLM as a judge with a custom prompt to do a true/false boolean evaluation of the message.",
        "operationId": "langevals_llm_boolean_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_llm_booleanRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_llm_booleanSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"langevals/llm_boolean\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n            \"contexts\": row[\"contexts\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"langevals/llm_boolean\",\n        name=\"My LLM-as-a-Judge Boolean Evaluator Check\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n            \"contexts\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"langevals/llm_boolean\", {\n      index,\n      data: {\n        input: item.input,\n        output: output,\n        contexts: item.contexts,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"langevals/llm_boolean\", {\n    name: \"my-evaluation\",\n    data: {\n      input: \"\", // your input value\n      output: \"\", // your output value\n      contexts: \"\", // your contexts value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/langevals/llm_category/evaluate": {
      "post": {
        "summary": "LLM-as-a-Judge Category Evaluator",
        "description": "Use an LLM as a judge with a custom prompt to classify the message into custom defined categories.",
        "operationId": "langevals_llm_category_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_llm_categoryRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_llm_categorySettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"langevals/llm_category\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n            \"contexts\": row[\"contexts\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"langevals/llm_category\",\n        name=\"My LLM-as-a-Judge Category Evaluator Check\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n            \"contexts\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"langevals/llm_category\", {\n      index,\n      data: {\n        input: item.input,\n        output: output,\n        contexts: item.contexts,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"langevals/llm_category\", {\n    name: \"my-evaluation\",\n    data: {\n      input: \"\", // your input value\n      output: \"\", // your output value\n      contexts: \"\", // your contexts value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/langevals/llm_score/evaluate": {
      "post": {
        "summary": "LLM-as-a-Judge Score Evaluator",
        "description": "Use an LLM as a judge with custom prompt to do a numeric score evaluation of the message.",
        "operationId": "langevals_llm_score_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_llm_scoreRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_llm_scoreSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"langevals/llm_score\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n            \"contexts\": row[\"contexts\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"langevals/llm_score\",\n        name=\"My LLM-as-a-Judge Score Evaluator Check\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n            \"contexts\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"langevals/llm_score\", {\n      index,\n      data: {\n        input: item.input,\n        output: output,\n        contexts: item.contexts,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"langevals/llm_score\", {\n    name: \"my-evaluation\",\n    data: {\n      input: \"\", // your input value\n      output: \"\", // your output value\n      contexts: \"\", // your contexts value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/langevals/off_topic/evaluate": {
      "post": {
        "summary": "Off Topic Evaluator",
        "description": "This evaluator checks if the user message is concerning one of the allowed topics of the chatbot",
        "operationId": "langevals_off_topic_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_off_topicRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_off_topicSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"langevals/off_topic\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"langevals/off_topic\",\n        name=\"My Off Topic Evaluator Check\",\n        data={\n            \"input\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"langevals/off_topic\", {\n      index,\n      data: {\n        input: item.input,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"langevals/off_topic\", {\n    name: \"my-evaluation\",\n    data: {\n      input: \"\", // your input value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/langevals/query_resolution/evaluate": {
      "post": {
        "summary": "Query Resolution",
        "description": "This evaluator checks if all the user queries in the conversation were resolved. Useful to detect when the bot doesn't know how to answer or can't help the user.",
        "operationId": "langevals_query_resolution_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_query_resolutionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_query_resolutionSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"langevals/query_resolution\",\n        index=index,\n        data={\n            \"conversation\": row[\"conversation\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"langevals/query_resolution\",\n        name=\"My Query Resolution Check\",\n        data={\n            \"conversation\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"langevals/query_resolution\", {\n      index,\n      data: {\n        conversation: item.conversation,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"langevals/query_resolution\", {\n    name: \"my-evaluation\",\n    data: {\n      conversation: \"\", // your conversation value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/langevals/similarity/evaluate": {
      "post": {
        "summary": "Semantic Similarity Evaluator",
        "description": "Allows you to check for semantic similarity or dissimilarity between input and output and a\ntarget value, so you can avoid sentences that you don't want to be present without having to\nmatch on the exact text.",
        "operationId": "langevals_similarity_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_similarityRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_similaritySettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"langevals/similarity\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"output\": output,\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"langevals/similarity\",\n        name=\"My Semantic Similarity Evaluator Check\",\n        data={\n            \"input\": \"\",\n            \"output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"langevals/similarity\", {\n      index,\n      data: {\n        input: item.input,\n        output: output,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"langevals/similarity\", {\n    name: \"my-evaluation\",\n    data: {\n      input: \"\", // your input value\n      output: \"\", // your output value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/langevals/valid_format/evaluate": {
      "post": {
        "summary": "Valid Format Evaluator",
        "description": "Allows you to check if the output is a valid json, markdown, python, sql, etc.\nFor JSON, can optionally validate against a provided schema.",
        "operationId": "langevals_valid_format_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/langevals_valid_formatRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/langevals_valid_formatSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"langevals/valid_format\",\n        index=index,\n        data={\n            \"output\": output,\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"langevals/valid_format\",\n        name=\"My Valid Format Evaluator Check\",\n        data={\n            \"output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"langevals/valid_format\", {\n      index,\n      data: {\n        output: output,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"langevals/valid_format\", {\n    name: \"my-evaluation\",\n    data: {\n      output: \"\", // your output value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/ragas/bleu_score/evaluate": {
      "post": {
        "summary": "BLEU Score",
        "description": "Traditional NLP metric. BLEU score for evaluating the similarity between two strings.",
        "operationId": "ragas_bleu_score_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ragas_bleu_scoreRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/ragas_bleu_scoreSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"ragas/bleu_score\",\n        index=index,\n        data={\n            \"output\": output,\n            \"expected_output\": row[\"expected_output\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"ragas/bleu_score\",\n        name=\"My BLEU Score Check\",\n        data={\n            \"output\": \"\",\n            \"expected_output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"ragas/bleu_score\", {\n      index,\n      data: {\n        output: output,\n        expected_output: item.expected_output,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"ragas/bleu_score\", {\n    name: \"my-evaluation\",\n    data: {\n      output: \"\", // your output value\n      expected_output: \"\", // your expected_output value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/ragas/context_f1/evaluate": {
      "post": {
        "summary": "Context F1",
        "description": "Balances between precision and recall for context retrieval, increasing it means a better signal-to-noise ratio. Uses traditional string distance metrics.",
        "operationId": "ragas_context_f1_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ragas_context_f1Request"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/ragas_context_f1Settings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"ragas/context_f1\",\n        index=index,\n        data={\n            \"contexts\": row[\"contexts\"],\n            \"expected_contexts\": row[\"expected_contexts\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"ragas/context_f1\",\n        name=\"My Context F1 Check\",\n        data={\n            \"contexts\": \"\",\n            \"expected_contexts\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"ragas/context_f1\", {\n      index,\n      data: {\n        contexts: item.contexts,\n        expected_contexts: item.expected_contexts,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"ragas/context_f1\", {\n    name: \"my-evaluation\",\n    data: {\n      contexts: \"\", // your contexts value\n      expected_contexts: \"\", // your expected_contexts value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/ragas/context_precision/evaluate": {
      "post": {
        "summary": "Context Precision",
        "description": "Measures how accurate is the retrieval compared to expected contexts, increasing it means less noise in the retrieval. Uses traditional string distance metrics.",
        "operationId": "ragas_context_precision_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ragas_context_precisionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/ragas_context_precisionSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"ragas/context_precision\",\n        index=index,\n        data={\n            \"contexts\": row[\"contexts\"],\n            \"expected_contexts\": row[\"expected_contexts\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"ragas/context_precision\",\n        name=\"My Context Precision Check\",\n        data={\n            \"contexts\": \"\",\n            \"expected_contexts\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"ragas/context_precision\", {\n      index,\n      data: {\n        contexts: item.contexts,\n        expected_contexts: item.expected_contexts,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"ragas/context_precision\", {\n    name: \"my-evaluation\",\n    data: {\n      contexts: \"\", // your contexts value\n      expected_contexts: \"\", // your expected_contexts value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/ragas/context_recall/evaluate": {
      "post": {
        "summary": "Context Recall",
        "description": "Measures how many relevant contexts were retrieved compared to expected contexts, increasing it means more signal in the retrieval. Uses traditional string distance metrics.",
        "operationId": "ragas_context_recall_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ragas_context_recallRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/ragas_context_recallSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"ragas/context_recall\",\n        index=index,\n        data={\n            \"contexts\": row[\"contexts\"],\n            \"expected_contexts\": row[\"expected_contexts\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"ragas/context_recall\",\n        name=\"My Context Recall Check\",\n        data={\n            \"contexts\": \"\",\n            \"expected_contexts\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"ragas/context_recall\", {\n      index,\n      data: {\n        contexts: item.contexts,\n        expected_contexts: item.expected_contexts,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"ragas/context_recall\", {\n    name: \"my-evaluation\",\n    data: {\n      contexts: \"\", // your contexts value\n      expected_contexts: \"\", // your expected_contexts value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/ragas/factual_correctness/evaluate": {
      "post": {
        "summary": "LLM Factual Match",
        "description": "Computes with an LLM how factually similar the generated answer is to the expected output.",
        "operationId": "ragas_factual_correctness_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ragas_factual_correctnessRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/ragas_factual_correctnessSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"ragas/factual_correctness\",\n        index=index,\n        data={\n            \"output\": output,\n            \"expected_output\": row[\"expected_output\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"ragas/factual_correctness\",\n        name=\"My LLM Factual Match Check\",\n        data={\n            \"output\": \"\",\n            \"expected_output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"ragas/factual_correctness\", {\n      index,\n      data: {\n        output: output,\n        expected_output: item.expected_output,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"ragas/factual_correctness\", {\n    name: \"my-evaluation\",\n    data: {\n      output: \"\", // your output value\n      expected_output: \"\", // your expected_output value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/ragas/faithfulness/evaluate": {
      "post": {
        "summary": "Ragas Faithfulness",
        "description": "This evaluator assesses the extent to which the generated answer is consistent with the provided context. Higher scores indicate better faithfulness to the context, useful for detecting hallucinations.",
        "operationId": "ragas_faithfulness_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ragas_faithfulnessRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/ragas_faithfulnessSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"ragas/faithfulness\",\n        index=index,\n        data={\n            \"output\": output,\n            \"contexts\": row[\"contexts\"],\n            \"input\": row[\"input\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"ragas/faithfulness\",\n        name=\"My Ragas Faithfulness Check\",\n        data={\n            \"output\": \"\",\n            \"contexts\": \"\",\n            \"input\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"ragas/faithfulness\", {\n      index,\n      data: {\n        output: output,\n        contexts: item.contexts,\n        input: item.input,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"ragas/faithfulness\", {\n    name: \"my-evaluation\",\n    data: {\n      output: \"\", // your output value\n      contexts: \"\", // your contexts value\n      input: \"\", // your input value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/ragas/response_context_precision/evaluate": {
      "post": {
        "summary": "Ragas Response Context Precision",
        "description": "Uses an LLM to measure the proportion of chunks in the retrieved context that were relevant to generate the output or the expected output.",
        "operationId": "ragas_response_context_precision_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ragas_response_context_precisionRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/ragas_response_context_precisionSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful evaluation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Experiment",
            "source": "import langwatch\n\ndf = langwatch.datasets.get_dataset(\"dataset-id\").to_pandas()\n\nexperiment = langwatch.experiment.init(\"my-experiment\")\n\nfor index, row in experiment.loop(df.iterrows()):\n    # your execution code here\n    experiment.evaluate(\n        \"ragas/response_context_precision\",\n        index=index,\n        data={\n            \"input\": row[\"input\"],\n            \"contexts\": row[\"contexts\"],\n            \"output\": output,\n            \"expected_output\": row[\"expected_output\"],\n        },\n        settings={}\n    )\n"
          },
          {
            "lang": "python",
            "label": "Online Evaluation",
            "source": "import langwatch\n\n@langwatch.span()\ndef my_llm_step():\n    ... # your existing code\n    result = langwatch.evaluation.evaluate(\n        \"ragas/response_context_precision\",\n        name=\"My Ragas Response Context Precision Check\",\n        data={\n            \"input\": \"\",\n            \"contexts\": \"\",\n            \"output\": \"\",\n            \"expected_output\": \"\",\n        },\n        settings={},\n    )\n    print(result)"
          },
          {
            "lang": "typescript",
            "label": "Experiment",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\n// Fetch dataset from LangWatch\nconst dataset = await langwatch.datasets.get(\"your-dataset-slug\");\n\nconst experiment = await langwatch.experiments.init(\"my-experiment\");\n\nawait experiment.run(\n  dataset.entries.map((e) => e.entry),\n  async ({ item, index }) => {\n    // Run your LLM/agent\n    const output = await myLLM(item.input);\n\n    // Evaluate the output\n    await experiment.evaluate(\"ragas/response_context_precision\", {\n      index,\n      data: {\n        input: item.input,\n        contexts: item.contexts,\n        output: output,\n        expected_output: item.expected_output,\n      },\n    });\n  },\n  { concurrency: 4 }\n);"
          },
          {
            "lang": "typescript",
            "label": "Online Evaluation",
            "source": "import { LangWatch } from \"langwatch\";\n\nconst langwatch = new LangWatch();\n\nasync function myLLMStep(input: string): Promise<string> {\n  // ... your existing code\n\n  // Call the evaluator\n  const result = await langwatch.evaluations.evaluate(\"ragas/response_context_precision\", {\n    name: \"my-evaluation\",\n    data: {\n      input: \"\", // your input value\n      contexts: \"\", // your contexts value\n      output: \"\", // your output value\n      expected_output: \"\", // your expected_output value\n    },\n    settings: {},\n  });\n\n  console.log(result);\n  return result;\n}"
          }
        ]
      }
    },
    "/ragas/response_context_recall/evaluate": {
      "post": {
        "summary": "Ragas Response Context Recall",
        "description": "Uses an LLM to measure how many of relevant documents attributable the claims in the output were successfully retrieved in order to generate an expected output.",
        "operationId": "ragas_response_context_recall_evaluate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ragas_response_context_recallRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "settings": {
                        "$ref": "#/components/schemas/ragas_response_context_recallSettings"
                      }
                    }
                  }
                ]
              }
            }
          },
[...]
