html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.debug {
  border: 2px solid red;

  & > * {
    border: 2px dashed blue;

    & > * {
      border: 2px solid green;
    }
  }
}

#nprogress .bar {
  background: #ed8926;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #ed8926,
    0 0 5px #ed8926;
}

.markdown {
  p {
    padding: 6px 0;
  }

  ol,
  ul {
    padding-left: 40px;
    &:dir(rtl) {
      padding-right: 40px;
    }
  }
}

/* Expanding card stack effect for grouped messages */

.card-stack-content {
  position: relative;
}

.card {
  position: relative;
  top: 0;
  left: 0;
  right: 0;

  &:first-child {
    z-index: 2;
  }

  &:nth-child(2) {
    z-index: 1;
  }

  &:nth-child(n + 3) {
    z-index: 0;
  }
}

.card-stack-content:not(.expanded) .card {
  &:nth-child(2) {
    left: 8px;
    top: 10px;
  }

  &:nth-child(3) {
    top: 20px;
    left: 16px;
  }
}