html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.debug {
  border: 2px solid red;

  & > * {
    border: 2px dashed blue;

    & > * {
      border: 2px solid green;
    }
  }
}

#nprogress .bar {
  background: #ED8926;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ED8926,0 0 5px #ED8926;
}
