html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.debug {
  border: 2px solid red;

  & > * {
    border: 2px dashed blue;

    & > * {
      border: 2px solid green;
    }
  }
}

#nprogress .bar {
  background: #ed8926;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #ed8926,
    0 0 5px #ed8926;
}

.markdown {
  p {
    padding: 6px 0;
  }

  ol,
  ul {
    padding-left: 40px;
    &:dir(rtl) {
      padding-right: 40px;
    }
  }
}
