.markdown {
  font-size: 14px;

  h1,
  h2,
  h3 {
    font-weight: bold;
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  h1,
  h2 {
    letter-spacing: -0.01em;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 25px;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  p {
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3,
  pre,
  ol,
  ul {
    margin-bottom: 16px;
  }

  pre {
    border-radius: 5px;
    padding: 16px;
    max-width: 100%;
    word-break: break-all;
    white-space: pre-wrap;
  }

  code {
    background: rgb(246, 247, 248);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.6px;
  }
}
