{
  "openapi": "3.1.0",
  "info": {
    "title": "LangWatch API",
    "version": "1.0.0",
    "description": "LangWatch openapi spec"
  },
  "servers": [
    {
      "url": "https://app.langwatch.ai"
    }
  ],
  "security": [
    {
      "project_api_key": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "handle": {
                        "type": ["string", "null"]
                      },
                      "scope": {
                        "type": "string",
                        "enum": ["ORGANIZATION", "PROJECT"]
                      },
                      "name": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      },
                      "projectId": {
                        "type": "string"
                      },
                      "organizationId": {
                        "type": "string"
                      },
                      "version": {
                        "type": "number"
                      },
                      "versionId": {
                        "type": "string"
                      },
                      "versionCreatedAt": {
                        "type": "string"
                      },
                      "model": {
                        "type": "string"
                      },
                      "prompt": {
                        "type": "string"
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": ["user", "assistant", "system"]
                            },
                            "content": {
                              "type": "string"
                            }
                          },
                          "required": ["role", "content"]
                        }
                      },
                      "response_format": {
                        "type": ["object", "null"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["json_schema"]
                          },
                          "json_schema": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "schema": {
                                "type": "object"
                              }
                            },
                            "required": ["name", "schema"]
                          }
                        },
                        "required": ["type", "json_schema"]
                      }
                    },
                    "required": [
                      "id",
                      "handle",
                      "scope",
                      "name",
                      "updatedAt",
                      "projectId",
                      "organizationId",
                      "version",
                      "versionId",
                      "versionCreatedAt",
                      "model",
                      "prompt",
                      "messages",
                      "response_format"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        },
        "operationId": "getIndex",
        "parameters": [],
        "description": "Get all prompts for a project"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "handle": {
                      "type": ["string", "null"]
                    },
                    "scope": {
                      "type": "string",
                      "enum": ["ORGANIZATION", "PROJECT"]
                    },
                    "name": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    },
                    "versionId": {
                      "type": "string"
                    },
                    "versionCreatedAt": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "prompt": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": ["user", "assistant", "system"]
                          },
                          "content": {
                            "type": "string"
                          }
                        },
                        "required": ["role", "content"]
                      }
                    },
                    "response_format": {
                      "type": ["object", "null"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": ["json_schema"]
                        },
                        "json_schema": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "schema": {
                              "type": "object"
                            }
                          },
                          "required": ["name", "schema"]
                        }
                      },
                      "required": ["type", "json_schema"]
                    }
                  },
                  "required": [
                    "id",
                    "handle",
                    "scope",
                    "name",
                    "updatedAt",
                    "projectId",
                    "organizationId",
                    "version",
                    "versionId",
                    "versionCreatedAt",
                    "model",
                    "prompt",
                    "messages",
                    "response_format"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        },
        "operationId": "postIndex",
        "parameters": [],
        "description": "Create a new prompt with default initial version",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "handle": {
                    "type": "string",
                    "pattern": "^[a-z0-9_-]+(?:\\/[a-z0-9_-]+)?$"
                  },
                  "scope": {
                    "type": "string",
                    "enum": ["ORGANIZATION", "PROJECT"],
                    "default": "PROJECT"
                  },
                  "authorId": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["user", "assistant", "system"]
                        },
                        "content": {
                          "type": "string"
                        }
                      },
                      "required": ["role", "content"]
                    }
                  },
                  "inputs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "str",
                            "float",
                            "bool",
                            "image",
                            "list[str]",
                            "list[float]",
                            "list[int]",
                            "list[bool]",
                            "dict"
                          ]
                        }
                      },
                      "required": ["identifier", "type"]
                    }
                  },
                  "outputs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": ["str", "float", "bool", "json_schema"]
                        },
                        "json_schema": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": ["type"],
                          "additionalProperties": true
                        }
                      },
                      "required": ["identifier", "type"]
                    }
                  }
                },
                "required": ["handle"]
              }
            }
          }
        }
      }
    },
    "/api/annotations": {
      "get": {
        "description": "Returns all annotations for project",
        "parameters": [
          {
            "name": "anchor",
            "in": "query",
            "description": "Which comments to return. Omitted returns every comment, including the ones left on a span, a field, an attribute or a message; \"trace\" returns only the comments about whole traces.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["trace", "all"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/annotations/trace/{id}": {
      "get": {
        "description": "Returns all annotations for single trace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anchor",
            "in": "query",
            "description": "Which comments to return. Omitted returns every comment, including the ones left on a span, a field, an attribute or a message; \"trace\" returns only the comments about whole traces.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["trace", "all"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create an annotation for a single trace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the trace to annotate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Annotation data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "isThumbsUp": {
                    "type": "boolean"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/annotations/{id}": {
      "get": {
        "description": "Returns a single annotation based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of annotation to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single annotation based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of annotation to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates a single annotation based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of annotation to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "isThumbsUp": {
                    "type": "boolean"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/search": {
      "post": {
        "summary": "Search traces",
        "description": "Search for traces based on given criteria",
        "tags": ["Traces"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/{id}": {
      "get": {
        "description": "Returns single trace details based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to share",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trace details with spans and evaluations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trace_id": {
                      "type": "string",
                      "example": "trace_BKZL_X0TKSD4oa1aBJTc_"
                    },
                    "project_id": {
                      "type": "string",
                      "example": "KAXYxPR8MUgTcP8CF193y"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "sdk_version": {
                          "type": "string",
                          "example": "0.1.11"
                        },
                        "sdk_language": {
                          "type": "string",
                          "example": "python"
                        }
                      }
                    },
                    "timestamps": {
                      "type": "object",
                      "properties": {
                        "started_at": {
                          "type": "integer",
                          "example": 1721382486868
                        },
                        "inserted_at": {
                          "type": "integer",
                          "example": 1721382492894
                        },
                        "updated_at": {
                          "type": "integer",
                          "example": 1721382492894
                        }
                      }
                    },
                    "input": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "example": "hi"
                        }
                      }
                    },
                    "output": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "example": "Hey there! 👋😊"
                        }
                      }
                    },
                    "metrics": {
                      "type": "object",
                      "properties": {
                        "first_token_ms": {
                          "type": "integer",
                          "example": 1449
                        },
                        "total_time_ms": {
                          "type": "integer",
                          "example": 1543
                        },
                        "prompt_tokens": {
                          "type": "integer",
                          "example": 20
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "example": 7
                        },
                        "tokens_estimated": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "stacktrace": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "message": {
                          "type": "string"
                        },
                        "has_error": {
                          "type": "boolean"
                        }
                      },
                      "example": null
                    },
                    "indexing_md5s": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["cccd21e0b70c706034dfd9f7772816a3"]
                    },
                    "spans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "trace_id": {
                            "type": "string",
                            "example": "trace_BKZL_X0TKSD4oa1aBJTc_"
                          },
                          "span_id": {
                            "type": "string",
                            "example": "span_h1xUkcUJilhudDrLeQbR_"
                          },
                          "timestamps": {
                            "type": "object",
                            "properties": {
                              "finished_at": {
                                "type": "integer",
                                "example": 1721382488392
                              },
                              "updated_at": {
                                "type": "integer",
                                "example": 1721382492027
                              },
                              "started_at": {
                                "type": "integer",
                                "example": 1721382486895
                              },
                              "first_token_at": {
                                "type": "integer",
                                "example": 1721382488317
                              },
                              "inserted_at": {
                                "type": "integer",
                                "example": 1721382492027
                              }
                            }
                          },
                          "type": {
                            "type": "string",
                            "example": "llm"
                          },
                          "error": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "stacktrace": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "message": {
                                "type": "string"
                              },
                              "has_error": {
                                "type": "boolean"
                              }
                            },
                            "example": null
                          },
                          "params": {
                            "type": "object",
                            "properties": {
                              "stream": {
                                "type": "boolean",
                                "example": true
                              },
                              "temperature": {
                                "type": "number",
                                "example": 1
                              }
                            }
                          },
                          "project_id": {
                            "type": "string",
                            "example": "KAXYxPR8MUgTcP8CF193y"
                          },
                          "parent_id": {
                            "type": "string",
                            "nullable": true,
                            "example": "span_ijZNjUMTz3ys0Z0YKwF_T"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "model": {
                            "type": "string",
                            "example": "openai/gpt-4o"
                          },
                          "metrics": {
                            "type": "object",
                            "properties": {
                              "tokens_estimated": {
                                "type": "boolean",
                                "example": true
                              },
                              "completion_tokens": {
                                "type": "integer",
                                "example": 7
                              },
                              "prompt_tokens": {
                                "type": "integer",
                                "example": 20
                              }
                            }
                          },
                          "input": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "chat_messages"
                              },
                              "value": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "role": {
                                      "type": "string",
                                      "example": "system"
                                    },
                                    "content": {
                                      "type": "string",
                                      "example": "You are a helpful assistant that only reply in short tweet-like responses, using lots of emojis."
                                    }
                                  }
                                },
                                "example": [
                                  {
                                    "role": "system",
                                    "content": "You are a helpful assistant that only reply in short tweet-like responses, using lots of emojis."
                                  },
                                  {
                                    "role": "user",
                                    "content": "hi"
                                  }
                                ]
                              }
                            }
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "chat_messages"
                              },
                              "value": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "role": {
                                      "type": "string",
                                      "example": "assistant"
                                    },
                                    "content": {
                                      "type": "string",
                                      "example": "Hey there! 👋😊"
                                    }
                                  }
                                },
                                "example": [
                                  {
                                    "role": "assistant",
                                    "content": "Hey there! 👋😊"
                                  }
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    "evaluations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "evaluation_id": {
                            "type": "string",
                            "example": "check_VCagriZHNWICSOM09dXjM"
                          },
                          "name": {
                            "type": "string",
                            "example": "Ragas Answer Relevancy"
                          },
                          "type": {
                            "type": "string",
                            "example": "ragas/response_relevancy"
                          },
                          "trace_id": {
                            "type": "string",
                            "example": "trace_BKZL_X0TKSD4oa1aBJTc_"
                          },
                          "project_id": {
                            "type": "string",
                            "example": "KAXYxPR8MUgTcP8CF193y"
                          },
                          "status": {
                            "type": "string",
                            "example": "error"
                          },
                          "timestamps": {
                            "type": "object",
                            "properties": {
                              "updated_at": {
                                "type": "integer",
                                "example": 1721383657788
                              },
                              "inserted_at": {
                                "type": "integer",
                                "example": 1721382493358
                              }
                            }
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "stacktrace": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "example": ["TypeError: fetch failed"]
                              },
                              "message": {
                                "type": "string",
                                "example": "fetch failed"
                              },
                              "has_error": {
                                "type": "boolean",
                                "example": true
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/{id}/share": {
      "post": {
        "description": "Returns a public path for a trace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to share",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public path created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/{id}/unshare": {
      "post": {
        "description": "Deletes a public path for a trace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to unshare",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public path deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/agents": {
      "get": {
        "operationId": "getApiAgents",
        "deprecated": true,
        "tags": ["Legacy"],
        "description": "List all non-archived agents for the project (paginated)",
        "responses": {
          "200": {
            "description": "Agents page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "type": {
                                    "type": "string",
                                    "const": "signature"
                                  },
                                  "config": {
                                    "type": "object",
                                    "properties": {
                                      "_library_ref": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "cls": {
                                        "type": "string"
                                      },
                                      "parameters": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "identifier": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "str",
                                                "image",
                                                "float",
                                                "int",
                                                "bool",
                                                "list",
                                                "list[str]",
                                                "list[float]",
                                                "list[int]",
                                                "list[bool]",
                                                "dict",
                                                "json_schema",
                                                "chat_messages",
                                                "signature",
                                                "llm",
                                                "prompting_technique",
                                                "dataset",
                                                "code"
                                              ]
                                            },
                                            "optional": {
                                              "type": "boolean"
                                            },
                                            "value": {},
                                            "desc": {
                                              "type": "string"
                                            },
                                            "prefix": {
                                              "type": "string"
                                            },
                                            "hidden": {
                                              "type": "boolean"
                                            },
                                            "json_schema": {
                                              "type": "object",
                                              "properties": {},
                                              "additionalProperties": {}
                                            }
                                          },
                                          "required": ["identifier", "type"]
                                        }
                                      },
                                      "inputs": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "identifier": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "str",
                                                "image",
                                                "float",
                                                "int",
                                                "bool",
                                                "list",
                                                "list[str]",
                                                "list[float]",
                                                "list[int]",
                                                "list[bool]",
                                                "dict",
                                                "json_schema",
                                                "chat_messages",
                                                "signature",
                                                "llm",
                                                "prompting_technique",
                                                "dataset",
                                                "code"
                                              ]
                                            },
                                            "optional": {
                                              "type": "boolean"
                                            },
                                            "value": {},
                                            "desc": {
                                              "type": "string"
                                            },
                                            "prefix": {
                                              "type": "string"
                                            },
                                            "hidden": {
                                              "type": "boolean"
                                            },
                                            "json_schema": {
                                              "type": "object",
                                              "properties": {},
                                              "additionalProperties": {}
                                            }
                                          },
                                          "required": ["identifier", "type"]
                                        }
                                      },
                                      "outputs": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "identifier": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "str",
                                                "image",
                                                "float",
                                                "int",
                                                "bool",
                                                "list",
                                                "list[str]",
                                                "list[float]",
                                                "list[int]",
                                                "list[bool]",
                                                "dict",
                                                "json_schema",
                                                "chat_messages",
                                                "signature",
                                                "llm",
                                                "prompting_technique",
                                                "dataset",
                                                "code"
                                              ]
                                            },
                                            "optional": {
                                              "type": "boolean"
                                            },
                                            "value": {},
                                            "desc": {
                                              "type": "string"
                                            },
                                            "prefix": {
                                              "type": "string"
                                            },
                                            "hidden": {
                                              "type": "boolean"
                                            },
                                            "json_schema": {
                                              "type": "object",
                                              "properties": {},
                                              "additionalProperties": {}
                                            }
                                          },
                                          "required": ["identifier", "type"]
                                        }
                                      },
                                      "isCustom": {
                                        "type": "boolean"
                                      },
                                      "behave_as": {
                                        "type": "string",
                                        "const": "evaluator"
                                      },
                                      "configId": {
                                        "type": "string"
                                      },
                                      "handle": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "versionMetadata": {
                                        "type": "object",
                                        "properties": {
                                          "versionId": {
                                            "type": "string"
                                          },
                                          "versionNumber": {
                                            "type": "number"
                                          },
                                          "versionCreatedAt": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "versionId",
                                          "versionNumber",
                                          "versionCreatedAt"
                                        ]
                                      },
                                      "llm": {
                                        "type": "object",
                                        "properties": {
                                          "model": {
                                            "type": "string"
                                          },
                                          "temperature": {
                                            "type": "number"
                                          },
                                          "max_tokens": {
                                            "type": "number"
                                          },
                                          "top_p": {
                                            "type": "number"
                                          },
                                          "frequency_penalty": {
                                            "type": "number"
                                          },
                                          "presence_penalty": {
                                            "type": "number"
                                          },
                                          "seed": {
                                            "type": "number"
                                          },
                                          "top_k": {
                                            "type": "number"
                                          },
                                          "min_p": {
                                            "type": "number"
                                          },
                                          "repetition_penalty": {
                                            "type": "number"
                                          },
                                          "reasoning": {
                                            "type": "string"
                                          },
                                          "reasoning_effort": {
                                            "type": "string"
                                          },
                                          "thinkingLevel": {
                                            "type": "string"
                                          },
                                          "effort": {
                                            "type": "string"
                                          },
                                          "verbosity": {
                                            "type": "string"
                                          },
                                          "litellm_params": {
                                            "type": "object",
                                            "propertyNames": {
                                              "type": "string"
                                            },
                                            "additionalProperties": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "required": ["model"]
                                      },
                                      "prompt": {
                                        "type": "string"
                                      },
                                      "messages": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "role": {
                                              "type": "string",
                                              "enum": ["system", "user", "assistant"]
                                            },
                                            "content": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      },
                                      "promptDraft": {
                                        "type": "boolean"
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "createdAt",
                                  "updatedAt",
                                  "type",
                                  "config"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "type": {
                                    "type": "string",
                                    "const": "code"
                                  },
                                  "config": {
                                    "type": "object",
                                    "properties": {
                                      "_library_ref": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "cls": {
                                        "type": "string"
                                      },
                                      "parameters": {
                                        "type": "array",
                                        "items": {
                                          "anyOf": [
                                            {
                                              "type": "object",
                                              "properties": {
                                                "identifier": {
                                                  "type": "string",
                                                  "const": "code"
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "const": "code"
                                                },
                                                "value": {
                                                  "type": "string"
                                                },
                                                "optional": {
                                                  "type": "boolean"
                                                },
                                                "desc": {
                                                  "type": "string"
                                                },
                                                "prefix": {
                                                  "type": "string"
                                                },
                                                "hidden": {
                                                  "type": "boolean"
                                                }
                                              },
                                              "required": ["identifier", "type", "value"]
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "identifier": {
                                                  "type": "string"
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "enum": [
                                                    "str",
                                                    "image",
                                                    "float",
                                                    "int",
                                                    "bool",
                                                    "list",
                                                    "list[str]",
                                                    "list[float]",
                                                    "list[int]",
                                                    "list[bool]",
                                                    "dict",
                                                    "json_schema",
                                                    "chat_messages",
                                                    "signature",
                                                    "llm",
                                                    "prompting_technique",
                                                    "dataset",
                                                    "code"
                                                  ]
                                                },
                                                "optional": {
                                                  "type": "boolean"
                                                },
                                                "value": {},
                                                "desc": {
                                                  "type": "string"
                                                },
                                                "prefix": {
                                                  "type": "string"
                                                },
                                                "hidden": {
                                                  "type": "boolean"
                                                },
                                                "json_schema": {
                                                  "type": "object",
                                                  "properties": {},
                                                  "additionalProperties": {}
                                                }
                                              },
                                              "required": ["identifier", "type"]
                                            }
                                          ]
                                        }
                                      },
                                      "inputs": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "identifier": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "str",
                                                "image",
                                                "float",
                                                "int",
                                                "bool",
                                                "list",
                                                "list[str]",
                                                "list[float]",
                                                "list[int]",
                                                "list[bool]",
                                                "dict",
                                                "json_schema",
                                                "chat_messages",
                                                "signature",
                                                "llm",
                                                "prompting_technique",
                                                "dataset",
                                                "code"
                                              ]
                                            },
                                            "optional": {
                                              "type": "boolean"
                                            },
                                            "value": {},
                                            "desc": {
                                              "type": "string"
                                            },
                                            "prefix": {
                                              "type": "string"
                                            },
                                            "hidden": {
                                              "type": "boolean"
                                            },
                                            "json_schema": {
                                              "type": "object",
                                              "properties": {},
                                              "additionalProperties": {}
                                            }
                                          },
                                          "required": ["identifier", "type"]
                                        }
                                      },
                                      "outputs": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "identifier": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "str",
                                                "image",
                                                "float",
                                                "int",
                                                "bool",
                                                "list",
                                                "list[str]",
                                                "list[float]",
                                                "list[int]",
                                                "list[bool]",
                                                "dict",
                                                "json_schema",
                                                "chat_messages",
                                                "signature",
                                                "llm",
                                                "prompting_technique",
                                                "dataset",
                                                "code"
                                              ]
                                            },
                                            "optional": {
                                              "type": "boolean"
                                            },
                                            "value": {},
                                            "desc": {
                                              "type": "string"
                                            },
                                            "prefix": {
                                              "type": "string"
                                            },
                                            "hidden": {
                                              "type": "boolean"
                                            },
                                            "json_schema": {
                                              "type": "object",
                                              "properties": {},
                                              "additionalProperties": {}
                                            }
                                          },
                                          "required": ["identifier", "type"]
                                        }
                                      },
                                      "isCustom": {
                                        "type": "boolean"
                                      },
                                      "behave_as": {
                                        "type": "string",
                                        "const": "evaluator"
                                      },
                                      "scenarioMappings": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {
                                          "oneOf": [
                                            {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string",
                                                  "const": "source"
                                                },
                                                "sourceId": {
                                                  "type": "string"
                                                },
                                                "path": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "string"
                                                  }
                                                }
                                              },
                                              "required": ["type", "sourceId", "path"]
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string",
                                                  "const": "value"
                                                },
                                                "value": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": ["type", "value"]
                                            }
                                          ]
                                        }
                                      },
                                      "scenarioOutputField": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["parameters"]
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "createdAt",
                                  "updatedAt",
                                  "type",
                                  "config"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "type": {
                                    "type": "string",
                                    "const": "workflow"
                                  },
                                  "config": {
                                    "type": "object",
                                    "properties": {
                                      "_library_ref": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "cls": {
                                        "type": "string"
                                      },
                                      "parameters": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "identifier": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "str",
                                                "image",
                                                "float",
                                                "int",
                                                "bool",
                                                "list",
                                                "list[str]",
                                                "list[float]",
                                                "list[int]",
                                                "list[bool]",
                                                "dict",
                                                "json_schema",
                                                "chat_messages",
                                                "signature",
                                                "llm",
                                                "prompting_technique",
                                                "dataset",
                                                "code"
                                              ]
                                            },
                                            "optional": {
                                              "type": "boolean"
                                            },
                                            "value": {},
                                            "desc": {
                                              "type": "string"
                                            },
                                            "prefix": {
                                              "type": "string"
                                            },
                                            "hidden": {
                                              "type": "boolean"
                                            },
                                            "json_schema": {
                                              "type": "object",
                                              "properties": {},
                                              "additionalProperties": {}
                                            }
                                          },
                                          "required": ["identifier", "type"]
                                        }
                                      },
                                      "inputs": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "identifier": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "str",
                                                "image",
                                                "float",
                                                "int",
                                                "bool",
                                                "list",
                                                "list[str]",
                                                "list[float]",
                                                "list[int]",
                                                "list[bool]",
                                                "dict",
                                                "json_schema",
                                                "chat_messages",
                                                "signature",
                                                "llm",
                                                "prompting_technique",
                                                "dataset",
                                                "code"
                                              ]
                                            },
                                            "optional": {
                                              "type": "boolean"
                                            },
                                            "value": {},
                                            "desc": {
                                              "type": "string"
                                            },
                                            "prefix": {
                                              "type": "string"
                                            },
                                            "hidden": {
                                              "type": "boolean"
                                            },
                                            "json_schema": {
                                              "type": "object",
                                              "properties": {},
                                              "additionalProperties": {}
                                            }
                                          },
                                          "required": ["identifier", "type"]
                                        }
                                      },
                                      "outputs": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "identifier": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "str",
                                                "image",
                                                "float",
                                                "int",
                                                "bool",
                                                "list",
                                                "list[str]",
                                                "list[float]",
                                                "list[int]",
                                                "list[bool]",
                                                "dict",
                                                "json_schema",
                                                "chat_messages",
                                                "signature",
                                                "llm",
                                                "prompting_technique",
                                                "dataset",
                                                "code"
                                              ]
                                            },
                                            "optional": {
                                              "type": "boolean"
                                            },
                                            "value": {},
                                            "desc": {
                                              "type": "string"
                                            },
                                            "prefix": {
                                              "type": "string"
                                            },
                                            "hidden": {
                                              "type": "boolean"
                                            },
                                            "json_schema": {
                                              "type": "object",
                                              "properties": {},
                                              "additionalProperties": {}
                                            }
                                          },
                                          "required": ["identifier", "type"]
                                        }
                                      },
                                      "isCustom": {
                                        "type": "boolean"
                                      },
                                      "behave_as": {
                                        "type": "string",
                                        "const": "evaluator"
                                      },
                                      "workflow_id": {
                                        "type": "string"
                                      },
                                      "publishedId": {
                                        "type": "string"
                                      },
                                      "version_id": {
                                        "type": "string"
                                      },
                                      "versions": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      },
                                      "scenarioMappings": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {
                                          "oneOf": [
                                            {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string",
                                                  "const": "source"
                                                },
                                                "sourceId": {
                                                  "type": "string"
                                                },
                                                "path": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "string"
                                                  }
                                                }
                                              },
                                              "required": ["type", "sourceId", "path"]
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string",
                                                  "const": "value"
                                                },
                                                "value": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": ["type", "value"]
                                            }
                                          ]
                                        }
                                      },
                                      "scenarioOutputField": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "createdAt",
                                  "updatedAt",
                                  "type",
                                  "config"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "type": {
                                    "type": "string",
                                    "const": "http"
                                  },
                                  "config": {
                                    "type": "object",
                                    "properties": {
                                      "_library_ref": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "cls": {
                                        "type": "string"
                                      },
                                      "parameters": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "identifier": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "str",
                                                "image",
                                                "float",
                                                "int",
                                                "bool",
                                                "list",
                                                "list[str]",
                                                "list[float]",
                                                "list[int]",
                                                "list[bool]",
                                                "dict",
                                                "json_schema",
                                                "chat_messages",
                                                "signature",
                                                "llm",
                                                "prompting_technique",
                                                "dataset",
                                                "code"
                                              ]
                                            },
                                            "optional": {
                                              "type": "boolean"
                                            },
                                            "value": {},
                                            "desc": {
                                              "type": "string"
                                            },
                                            "prefix": {
                                              "type": "string"
                                            },
                                            "hidden": {
                                              "type": "boolean"
                                            },
                                            "json_schema": {
                                              "type": "object",
                                              "properties": {},
                                              "additionalProperties": {}
                                            }
                                          },
                                          "required": ["identifier", "type"]
                                        }
                                      },
                                      "inputs": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "identifier": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "str",
                                                "image",
                                                "float",
                                                "int",
                                                "bool",
                                                "list",
                                                "list[str]",
                                                "list[float]",
                                                "list[int]",
                                                "list[bool]",
                                                "dict",
                                                "json_schema",
                                                "chat_messages",
                                                "signature",
                                                "llm",
                                                "prompting_technique",
                                                "dataset",
                                                "code"
                                              ]
                                            },
                                            "optional": {
                                              "type": "boolean"
                                            },
                                            "value": {},
                                            "desc": {
                                              "type": "string"
                                            },
                                            "prefix": {
                                              "type": "string"
                                            },
                                            "hidden": {
                                              "type": "boolean"
                                            },
                                            "json_schema": {
                                              "type": "object",
                                              "properties": {},
                                              "additionalProperties": {}
                                            }
                                          },
                                          "required": ["identifier", "type"]
                                        }
                                      },
                                      "outputs": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "identifier": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "str",
                                                "image",
                                                "float",
                                                "int",
                                                "bool",
                                                "list",
                                                "list[str]",
                                                "list[float]",
                                                "list[int]",
                                                "list[bool]",
                                                "dict",
                                                "json_schema",
                                                "chat_messages",
                                                "signature",
                                                "llm",
                                                "prompting_technique",
                                                "dataset",
                                                "code"
                                              ]
[...]
