{
  "openapi": "3.1.0",
  "info": {
    "title": "LangWatch API",
    "version": "1.0.0",
    "description": "LangWatch openapi spec"
  },
  "servers": [
    {
      "url": "https://app.langwatch.ai"
    }
  ],
  "security": [
    {
      "project_api_key": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "handle": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "scope": {
                        "type": "string",
                        "enum": [
                          "ORGANIZATION",
                          "PROJECT"
                        ]
                      },
                      "name": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      },
                      "projectId": {
                        "type": "string"
                      },
                      "organizationId": {
                        "type": "string"
                      },
                      "version": {
                        "type": "number"
                      },
                      "versionId": {
                        "type": "string"
                      },
                      "versionCreatedAt": {
                        "type": "string"
                      },
                      "model": {
                        "type": "string"
                      },
                      "prompt": {
                        "type": "string"
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "user",
                                "assistant",
                                "system"
                              ]
                            },
                            "content": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ]
                        }
                      },
                      "response_format": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "json_schema"
                            ]
                          },
                          "json_schema": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "schema": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "name",
                              "schema"
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "json_schema"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "handle",
                      "scope",
                      "name",
                      "updatedAt",
                      "projectId",
                      "organizationId",
                      "version",
                      "versionId",
                      "versionCreatedAt",
                      "model",
                      "prompt",
                      "messages",
                      "response_format"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getIndex",
        "parameters": [],
        "description": "Get all prompts for a project"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "handle": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "scope": {
                      "type": "string",
                      "enum": [
                        "ORGANIZATION",
                        "PROJECT"
                      ]
                    },
                    "name": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    },
                    "versionId": {
                      "type": "string"
                    },
                    "versionCreatedAt": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "prompt": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": [
                              "user",
                              "assistant",
                              "system"
                            ]
                          },
                          "content": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "role",
                          "content"
                        ]
                      }
                    },
                    "response_format": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "json_schema"
                          ]
                        },
                        "json_schema": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "schema": {
                              "type": "object"
                            }
                          },
                          "required": [
                            "name",
                            "schema"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "json_schema"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "handle",
                    "scope",
                    "name",
                    "updatedAt",
                    "projectId",
                    "organizationId",
                    "version",
                    "versionId",
                    "versionCreatedAt",
                    "model",
                    "prompt",
                    "messages",
                    "response_format"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "postIndex",
        "parameters": [],
        "description": "Create a new prompt with default initial version",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "handle": {
                    "type": "string",
                    "pattern": "^[a-z0-9_-]+(?:\\/[a-z0-9_-]+)?$"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "ORGANIZATION",
                      "PROJECT"
                    ],
                    "default": "PROJECT"
                  },
                  "authorId": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant",
                            "system"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    }
                  },
                  "inputs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "str",
                            "float",
                            "bool",
                            "image",
                            "list[str]",
                            "list[float]",
                            "list[int]",
                            "list[bool]",
                            "dict"
                          ]
                        }
                      },
                      "required": [
                        "identifier",
                        "type"
                      ]
                    }
                  },
                  "outputs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "str",
                            "float",
                            "bool",
                            "json_schema"
                          ]
                        },
                        "json_schema": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": true
                        }
                      },
                      "required": [
                        "identifier",
                        "type"
                      ]
                    }
                  }
                },
                "required": [
                  "handle"
                ]
              }
            }
          }
        }
      }
    },
    "/api/annotations": {
      "get": {
        "description": "Returns all annotations for project",
        "parameters": [
          {
            "name": "anchor",
            "in": "query",
            "description": "Which comments to return. Omitted returns every comment, including the ones left on a span, a field, an attribute or a message; \"trace\" returns only the comments about whole traces.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "trace",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/annotations/trace/{id}": {
      "get": {
        "description": "Returns all annotations for single trace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anchor",
            "in": "query",
            "description": "Which comments to return. Omitted returns every comment, including the ones left on a span, a field, an attribute or a message; \"trace\" returns only the comments about whole traces.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "trace",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create an annotation for a single trace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the trace to annotate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Annotation data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "isThumbsUp": {
                    "type": "boolean"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/annotations/{id}": {
      "get": {
        "description": "Returns a single annotation based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of annotation to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single annotation based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of annotation to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates a single annotation based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of annotation to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "isThumbsUp": {
                    "type": "boolean"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/search": {
      "post": {
        "summary": "Search traces",
        "description": "Search for traces based on given criteria",
        "tags": [
          "Traces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/{id}": {
      "get": {
        "description": "Returns single trace details based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to share",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trace details with spans and evaluations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trace_id": {
                      "type": "string",
                      "example": "trace_BKZL_X0TKSD4oa1aBJTc_"
                    },
                    "project_id": {
                      "type": "string",
                      "example": "KAXYxPR8MUgTcP8CF193y"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "sdk_version": {
                          "type": "string",
                          "example": "0.1.11"
                        },
                        "sdk_language": {
                          "type": "string",
                          "example": "python"
                        }
                      }
                    },
                    "timestamps": {
                      "type": "object",
                      "properties": {
                        "started_at": {
                          "type": "integer",
                          "example": 1721382486868
                        },
                        "inserted_at": {
                          "type": "integer",
                          "example": 1721382492894
                        },
                        "updated_at": {
                          "type": "integer",
                          "example": 1721382492894
                        }
                      }
                    },
                    "input": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "example": "hi"
                        }
                      }
                    },
                    "output": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "example": "Hey there! 👋😊"
                        }
                      }
                    },
                    "metrics": {
                      "type": "object",
                      "properties": {
                        "first_token_ms": {
                          "type": "integer",
                          "example": 1449
                        },
                        "total_time_ms": {
                          "type": "integer",
                          "example": 1543
                        },
                        "prompt_tokens": {
                          "type": "integer",
                          "example": 20
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "example": 7
                        },
                        "tokens_estimated": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "stacktrace": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "message": {
                          "type": "string"
                        },
                        "has_error": {
                          "type": "boolean"
                        }
                      },
                      "example": null
                    },
                    "indexing_md5s": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "cccd21e0b70c706034dfd9f7772816a3"
                      ]
                    },
                    "spans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "trace_id": {
                            "type": "string",
                            "example": "trace_BKZL_X0TKSD4oa1aBJTc_"
                          },
                          "span_id": {
                            "type": "string",
                            "example": "span_h1xUkcUJilhudDrLeQbR_"
                          },
                          "timestamps": {
                            "type": "object",
                            "properties": {
                              "finished_at": {
                                "type": "integer",
                                "example": 1721382488392
                              },
                              "updated_at": {
                                "type": "integer",
                                "example": 1721382492027
                              },
                              "started_at": {
                                "type": "integer",
                                "example": 1721382486895
                              },
                              "first_token_at": {
                                "type": "integer",
                                "example": 1721382488317
                              },
                              "inserted_at": {
                                "type": "integer",
                                "example": 1721382492027
                              }
                            }
                          },
                          "type": {
                            "type": "string",
                            "example": "llm"
                          },
                          "error": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "stacktrace": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "message": {
                                "type": "string"
                              },
                              "has_error": {
                                "type": "boolean"
                              }
                            },
                            "example": null
                          },
                          "params": {
                            "type": "object",
                            "properties": {
                              "stream": {
                                "type": "boolean",
                                "example": true
                              },
                              "temperature": {
                                "type": "number",
                                "example": 1
                              }
                            }
                          },
                          "project_id": {
                            "type": "string",
                            "example": "KAXYxPR8MUgTcP8CF193y"
                          },
                          "parent_id": {
                            "type": "string",
                            "nullable": true,
                            "example": "span_ijZNjUMTz3ys0Z0YKwF_T"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "model": {
                            "type": "string",
                            "example": "openai/gpt-4o"
                          },
                          "metrics": {
                            "type": "object",
                            "properties": {
                              "tokens_estimated": {
                                "type": "boolean",
                                "example": true
                              },
                              "completion_tokens": {
                                "type": "integer",
                                "example": 7
                              },
                              "prompt_tokens": {
                                "type": "integer",
                                "example": 20
                              }
                            }
                          },
                          "input": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "chat_messages"
                              },
                              "value": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "role": {
                                      "type": "string",
                                      "example": "system"
                                    },
                                    "content": {
                                      "type": "string",
                                      "example": "You are a helpful assistant that only reply in short tweet-like responses, using lots of emojis."
                                    }
                                  }
                                },
                                "example": [
                                  {
                                    "role": "system",
                                    "content": "You are a helpful assistant that only reply in short tweet-like responses, using lots of emojis."
                                  },
                                  {
                                    "role": "user",
                                    "content": "hi"
                                  }
                                ]
                              }
                            }
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "chat_messages"
                              },
                              "value": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "role": {
                                      "type": "string",
                                      "example": "assistant"
                                    },
                                    "content": {
                                      "type": "string",
                                      "example": "Hey there! 👋😊"
                                    }
                                  }
                                },
                                "example": [
                                  {
                                    "role": "assistant",
                                    "content": "Hey there! 👋😊"
                                  }
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    "evaluations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "evaluation_id": {
                            "type": "string",
                            "example": "check_VCagriZHNWICSOM09dXjM"
                          },
                          "name": {
                            "type": "string",
                            "example": "Ragas Answer Relevancy"
                          },
                          "type": {
                            "type": "string",
                            "example": "ragas/response_relevancy"
                          },
                          "trace_id": {
                            "type": "string",
                            "example": "trace_BKZL_X0TKSD4oa1aBJTc_"
                          },
                          "project_id": {
                            "type": "string",
                            "example": "KAXYxPR8MUgTcP8CF193y"
                          },
                          "status": {
                            "type": "string",
                            "example": "error"
                          },
                          "timestamps": {
                            "type": "object",
                            "properties": {
                              "updated_at": {
                                "type": "integer",
                                "example": 1721383657788
                              },
                              "inserted_at": {
                                "type": "integer",
                                "example": 1721382493358
                              }
                            }
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "stacktrace": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "TypeError: fetch failed"
                                ]
                              },
                              "message": {
                                "type": "string",
                                "example": "fetch failed"
                              },
                              "has_error": {
                                "type": "boolean",
                                "example": true
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/{id}/share": {
      "post": {
        "description": "Returns a public path for a trace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to share",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public path created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trace/{id}/unshare": {
      "post": {
        "description": "Deletes a public path for a trace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of trace to unshare",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public path deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/agents": {
      "get": {
        "responses": {},
        "operationId": "getApiAgents",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "description": "List all non-archived agents for the project (paginated)",
        "security": [
          {
            "project_api_key": []
          }
        ]
      },
      "post": {
        "responses": {},
        "operationId": "postApiAgents",
        "parameters": [],
        "description": "Create a new agent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "signature",
                      "code",
                      "workflow",
                      "http"
                    ]
                  },
                  "config": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "workflowId": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "type",
                  "config"
                ]
              }
            }
          }
        },
        "security": [
          {
            "project_api_key": []
          }
        ]
      }
    },
    "/api/agents/{id}": {
      "get": {
        "responses": {},
        "operationId": "getApiAgentsById",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "description": "Get an agent by its id",
        "security": [
          {
            "project_api_key": []
          }
        ]
      },
      "patch": {
        "responses": {},
        "operationId": "patchApiAgentsById",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "description": "Update an agent by its id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "signature",
                      "code",
                      "workflow",
                      "http"
                    ]
                  },
                  "config": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "workflowId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "project_api_key": []
          }
        ]
      },
      "delete": {
        "responses": {},
        "operationId": "deleteApiAgentsById",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "description": "Archive an agent (soft-delete)",
        "security": [
          {
            "project_api_key": []
          }
        ]
      }
    },
    "/api/api-keys": {
      "get": {
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKeyInfo"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key token"
          },
          "403": {
            "description": "Insufficient permissions (requires organization:view)"
          }
        },
        "operationId": "listApiKeys",
        "parameters": [],
        "summary": "List API keys",
        "description": "List all API keys owned by the authenticated user in this organization. Requires organization:view permission.",
        "security": [
          {
            "admin_api_key": []
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "API key created. The token field contains the plaintext key — it is only shown once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Plaintext API key token (sk-lw-...). Store securely — shown only once."
                    },
                    "apiKey": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key token"
          },
          "403": {
            "description": "Requested binding exceeds the creator's own permissions, or the scope does not belong to this organization (api_key_scope_violation); a service key or a key for another member was requested without organization admin rights (insufficient_permissions)"
          },
          "422": {
            "description": "Validation error, for example a missing name or empty bindings (validation_error), or a name LangWatch reserves for its own keys (api_key_reserved_name)"
          }
        },
        "operationId": "createApiKey",
        "parameters": [],
        "summary": "Create an API key",
        "description": "Create a new API key. For service keys, pass keyType:\"service\". Optionally scope to specific projects via projectIds (ADMIN on each). Omit projectIds for full org access. Pass assignedToUserId to mint the key for another member, and permissionMode:\"restricted\" with a permissions list to grant exactly those permissions. Minting a service key or a key for another member requires organization admin rights. The plaintext token is returned once — store it securely.",
        "security": [
          {
            "admin_api_key": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyType": {
                    "type": "string",
                    "enum": [
                      "personal",
                      "service"
                    ],
                    "default": "personal",
                    "description": "A personal key acts as the user who created it and needs explicit bindings. A service key is not tied to a user."
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Human-readable name for this key"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "expiresAt": {
                    "type": "string",
                    "description": "ISO 8601 timestamp after which the key stops working"
                  },
                  "assignedToUserId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Organization admins only: the member who owns the key and whose access caps it. Defaults to the caller."
                  },
                  "permissionMode": {
                    "type": "string",
                    "enum": [
                      "all",
                      "readonly",
                      "restricted"
                    ],
                    "description": "'all' and 'readonly' take their meaning from the bindings alone; 'restricted' additionally requires an explicit permissions list.",
                    "default": "all"
                  },
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Restricted mode only: the exact resource:action permissions the key's CUSTOM bindings grant."
                  },
                  "bindings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "ADMIN",
                            "MEMBER",
                            "VIEWER",
                            "CUSTOM"
                          ],
                          "description": "CUSTOM grants exactly the listed permissions and requires permissionMode 'restricted'."
                        },
                        "scopeType": {
                          "type": "string",
                          "enum": [
                            "ORGANIZATION",
                            "TEAM",
                            "PROJECT"
                          ]
                        },
                        "scopeId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "role",
                        "scopeType",
                        "scopeId"
                      ]
                    },
                    "maxItems": 20,
                    "description": "What this key may do, and where. Required for a personal key."
                  },
                  "projectIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "maxItems": 50,
                    "description": "Service keys only: restricts the key to these projects"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        }
      }
    },
    "/api/api-keys/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "The API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "keyType": {
                      "type": "string",
                      "enum": [
                        "personal",
                        "service"
                      ]
                    },
                    "assignedToUserId": {
                      "type": "string",
                      "nullable": true,
                      "description": "The member who owns the key; null for a service key."
                    },
                    "createdByUserId": {
                      "type": "string",
                      "nullable": true
                    },
                    "permissionMode": {
                      "type": "string",
                      "enum": [
                        "all",
                        "readonly",
                        "restricted"
                      ]
                    },
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The resource:action permissions a restricted key grants. Empty for the other modes."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "lastUsedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "revokedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "roleBindings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "ADMIN",
                              "MEMBER",
                              "VIEWER",
                              "CUSTOM"
                            ]
                          },
                          "scopeType": {
                            "type": "string",
                            "enum": [
                              "ORGANIZATION",
                              "TEAM",
                              "PROJECT"
                            ]
                          },
                          "scopeId": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "bindings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": [
                              "ADMIN",
                              "MEMBER",
                              "VIEWER",
                              "CUSTOM"
                            ]
                          },
                          "scopeType": {
                            "type": "string",
                            "enum": [
                              "ORGANIZATION",
                              "TEAM",
                              "PROJECT"
                            ]
                          },
                          "scopeId": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key token"
          },
          "403": {
            "description": "Insufficient permissions (requires organization:view)"
          },
          "404": {
            "description": "API key not found (api_key_not_found)"
          }
        },
        "operationId": "getApiKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key ID"
          }
        ],
        "summary": "Get an API key",
        "description": "Read one API key by id, including its role bindings, permission mode and explicit permissions. Returns your own keys; organization admins may read any key in the organization. The secret is never returned. An id that does not exist, belongs to another organization, or belongs to another member all answer 404 api_key_not_found, so the response cannot be used to probe for keys.",
        "security": [
          {
            "admin_api_key": []
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "The updated API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "keyType": {
                      "type": "string",
                      "enum": [
                        "personal",
                        "service"
                      ]
                    },
                    "assignedToUserId": {
                      "type": "string",
                      "nullable": true,
                      "description": "The member who owns the key; null for a service key."
                    },
                    "createdByUserId": {
                      "type": "string",
                      "nullable": true
                    },
                    "permissionMode": {
                      "type": "string",
                      "enum": [
                        "all",
                        "readonly",
                        "restricted"
                      ]
                    },
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The resource:action permissions a restricted key grants. Empty for the other modes."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "lastUsedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "revokedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "roleBindings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "ADMIN",
                              "MEMBER",
                              "VIEWER",
                              "CUSTOM"
                            ]
                          },
                          "scopeType": {
                            "type": "string",
                            "enum": [
                              "ORGANIZATION",
                              "TEAM",
                              "PROJECT"
                            ]
                          },
                          "scopeId": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "bindings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": [
                              "ADMIN",
                              "MEMBER",
                              "VIEWER",
                              "CUSTOM"
                            ]
                          },
                          "scopeType": {
                            "type": "string",
                            "enum": [
                              "ORGANIZATION",
                              "TEAM",
                              "PROJECT"
                            ]
                          },
                          "scopeId": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key token"
          },
          "403": {
            "description": "Insufficient permissions (requires organization:manage), the requested binding exceeds the key owner's own permissions, or the scope does not belong to this organization (api_key_scope_violation)"
          },
          "404": {
            "description": "API key not found, or not yours to edit (api_key_not_found)"
          },
          "409": {
            "description": "API key is already revoked (api_key_already_revoked)"
          },
          "422": {
            "description": "Validation error, for example restricted mode without a permissions list (validation_error)"
          }
        },
        "operationId": "updateApiKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key ID"
          }
        ],
        "summary": "Update an API key",
        "description": "Update an API key's name, description, permission mode, permissions or bindings. Every field is optional; bindings are replaced outright, and the response is exactly what a subsequent GET returns. You may update your own keys; organization admins may update any key in the organization. Bindings can never exceed the access of the member the key belongs to. The token itself never changes.",
        "security": [
          {
            "admin_api_key": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 500
                  },
                  "permissionMode": {
                    "type": "string",
                    "enum": [
                      "all",
                      "readonly",
                      "restricted"
                    ],
                    "description": "'all' and 'readonly' take their meaning from the bindings alone; 'restricted' additionally requires an explicit permissions list."
                  },
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Restricted mode only: the exact resource:action permissions the key's CUSTOM bindings grant."
                  },
                  "bindings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "ADMIN",
                            "MEMBER",
                            "VIEWER",
                            "CUSTOM"
                          ],
                          "description": "CUSTOM grants exactly the listed permissions and requires permissionMode 'restricted'."
                        },
                        "scopeType": {
                          "type": "string",
                          "enum": [
                            "ORGANIZATION",
                            "TEAM",
                            "PROJECT"
                          ]
                        },
                        "scopeId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "role",
                        "scopeType",
                        "scopeId"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 20,
                    "description": "Replaces the key's bindings outright. Whatever is accepted here is exactly what a subsequent GET returns."
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "API key revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key token"
          },
          "403": {
            "description": "Not authorized to revoke this API key, which belongs to another member (api_key_not_owned)"
          },
          "404": {
            "description": "API key not found (api_key_not_found)"
          },
          "409": {
            "description": "API key is already revoked (api_key_already_revoked)"
          }
        },
        "operationId": "revokeApiKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key ID"
          }
        ],
        "summary": "Revoke an API key",
        "description": "Revoke (soft-delete) an API key. Revoked keys can no longer authenticate. Requires organization:manage permission.",
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/api/analytics/timeseries": {
      "post": {
        "responses": {
          "200": {
            "description": "Timeseries analytics data with current and previous periods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "currentPeriod": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {}
                      }
                    },
                    "previousPeriod": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "currentPeriod",
                    "previousPeriod"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "postApiAnalyticsTimeseries",
        "parameters": [],
        "description": "Query analytics timeseries data with metrics, aggregations, and filters",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "endDate": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "query": {
                    "type": "string"
                  },
                  "filters": {
                    "type": "object",
                    "properties": {
                      "topics.topics": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "topics.subtopics": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "metadata.user_id": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "metadata.thread_id": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "metadata.customer_id": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "metadata.labels": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "metadata.key": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "metadata.value": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "metadata.prompt_ids": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "traces.origin": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "traces.error": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "traces.name": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "spans.type": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "spans.model": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "evaluations.evaluator_id": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "evaluations.evaluator_id.guardrails_only": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "evaluations.evaluator_id.has_passed": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "evaluations.evaluator_id.has_score": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "evaluations.evaluator_id.has_label": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "evaluations.passed": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array",
[...]
