{
  "ELASTICSEARCH_NODE_URL": "https://your-elasticsearch-host:9200",
  "ELASTICSEARCH_API_KEY": "your-api-key",

  "OPENAI_API_KEY": "",
  "GEMINI_API_KEY": "",
  "ANTHROPIC_API_KEY": "",
  "AZURE_CONTENT_SAFETY_ENDPOINT": "",
  "AZURE_CONTENT_SAFETY_KEY": "",

  "SENDGRID_API_KEY": ""
}
