name: Publish LangWatch Server to PyPI

on:
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish-pypi:
    if: startsWith(github.event.release.tag_name, 'langwatch-server-') || (github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/main')
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10.24.0

      - name: Install dependencies
        run: |
          cd langwatch
          pnpm install
          pnpm build
          cd ..
          uv pip install build

      - name: Build package
        run: |
          uv run python -m build

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
        with:
          packages_dir: python-sdk/dist/
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
