name: sdk-go-ci

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'sdk-go/**'
      - ".github/.release-please-manifest.json"
  pull_request_target:
    types: [labeled]
    paths:
      - 'sdk-go/**'
      - ".github/.release-please-manifest.json"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    if: >
      github.event_name != 'pull_request_target'
      || (github.event.label.name == 'approved-ci'
          && github.event.pull_request.user.login == 'dependabot[bot]')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
          cache: true

      - name: Install dependencies
        working-directory: ./sdk-go
        run: go mod download

      - name: Run tests
        working-directory: ./sdk-go
        run: go test -v ./...

      - name: Install examples dependencies
        working-directory: ./sdk-go/examples
        run: go mod download

      - name: Run filtering example
        working-directory: ./sdk-go/examples
        run: go run ./filtering

      - name: Install e2e dependencies
        working-directory: ./sdk-go/e2e
        run: go mod download

      - name: Run e2e examples
        if: github.event_name != 'pull_request' || github.actor != 'dependabot[bot]'
        working-directory: ./sdk-go/e2e
        run: go run cmd/main.go --ci run-examples
        env:
          LANGWATCH_API_KEY: ${{ secrets.GO_SDK_LANGWATCH_API_KEY }}
          OPENAI_API_KEY: ${{ secrets.GO_SDK_OPENAI_API_KEY }}

  typecheck:
    if: >
      github.event_name != 'pull_request_target'
      || (github.event.label.name == 'approved-ci'
          && github.event.pull_request.user.login == 'dependabot[bot]')
    runs-on: ubuntu-latest
    steps:
      - run: echo "no typechecking is needed for go"

  build:
    if: >
      github.event_name != 'pull_request_target'
      || (github.event.label.name == 'approved-ci'
          && github.event.pull_request.user.login == 'dependabot[bot]')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
          cache: true

      - name: Install dependencies
        working-directory: ./sdk-go
        run: go mod download

      - name: Build
        working-directory: ./sdk-go
        run: go build -v ./...
