name: sdk-javascript-ci

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "typescript-sdk/**"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 10.12.1

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          cache-dependency-path: "typescript-sdk/pnpm-lock.yaml"

      - name: Install dependencies
        working-directory: typescript-sdk
        run: pnpm install --frozen-lockfile

      - name: Run tests
        working-directory: typescript-sdk
        run: pnpm test

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 10.12.1

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          cache-dependency-path: "typescript-sdk/pnpm-lock.yaml"

      - name: Install dependencies
        working-directory: typescript-sdk
        run: pnpm install --frozen-lockfile

      - name: Install TypeScript Native Preview
        working-directory: typescript-sdk
        run: pnpm install -D @typescript/native-preview

      - name: Run typecheck
        working-directory: typescript-sdk
        run: ./node_modules/.bin/tsgo --noEmit --project ./tsconfig.json

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 10.12.1

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          cache-dependency-path: "typescript-sdk/pnpm-lock.yaml"

      - name: Install dependencies
        working-directory: typescript-sdk
        run: pnpm install --frozen-lockfile

      - name: Build
        working-directory: typescript-sdk
        run: pnpm run build
