name: sdk-javascript-cd

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  publish-sdk-npm:
    if: startsWith(github.event.release.tag_name, 'typescript-sdk@') || (github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/main')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
          cache-dependency-path: "typescript-sdk/pnpm-lock.yaml"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        working-directory: typescript-sdk
        run: pnpm install --frozen-lockfile

      - name: Run unit tests
        working-directory: ./typescript-sdk
        run: pnpm test

      - name: Typecheck
        working-directory: ./typescript-sdk
        run: ./node_modules/.bin/tsgo --noEmit --project ./tsconfig.json

      - name: Build
        working-directory: ./typescript-sdk
        run: pnpm build

      - name: Publish to npm
        working-directory: ./typescript-sdk
        run: pnpm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
